<div class="col-xs-12">
<p id="notice"><%= notice %></p>

 <div class="callout callout-warning">
                <h4><%= Competition.where(id: params[:competition_id]).first.sport.name %>
                <%=Competition.where(id: params[:competition_id]).first.category.name %>
                <%=Competition.where(id: params[:competition_id]).first.sex.sex%></h4>

    </div>
<%
competition_id=params[:competition_id]
start=params[:start]
sex_id=1
sport_id=1
category_id=1
%>
<% @jump_head2s.where(:competition_id =>competition_id
).each do |jump_head2| %>
<%

competition_id=jump_head2.competition_id
sex_id=jump_head2.sex_id
sport_id=jump_head2.sport_id
category_id=jump_head2.category_id

%>
  <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header table-info">
              <h3 class="box-title">Serie <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%> <%=best_in_place(jump_head2, :serie) %>
              <%else%>
              <%=jump_head2.serie%>
                <%end%>
 
              </h3>

              <div class="box-tools">
             </div>
            </div>





     <% if  user_signed_in? && current_user.email=='admin@prossport.cl' && start=="0"%>
       <div class="row">
          <div class="col-xs-12">
       
             
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                <%= simple_form_for :jump2, :url => jump2s_path, :method => :post  do |f| %>
                <table class="table table-hover">
    
    <%= f.error_notification %>
    <%= f.input :jump_head2_id, :as => :hidden, :input_html => { :value => jump_head2.id  }%>
                  <tr>

                    <th><%= f.input :athlete,  placeholder: "Atleta",label: false%></th>
                    <th><%= f.input :club,  placeholder: "Club",label: false%></th>
                     <th><%= f.input :an,  placeholder: "A.N.",label: false%></th>
                      <th><%= f.input :region,  placeholder: "Región",label: false%></th>
                    <th><%= f.input :first,  placeholder: "primero",label: false%></th>
                    <th> <%= f.input :vvfirst , placeholder: "vv",label: false%></th>
                    <th><%= f.input :second , placeholder: "segundo",label: false%></th>
                    <th> <%= f.input :vvsecond, placeholder: "vv" ,label: false%></th>
                    <th><%= f.input :third , placeholder: "tercero",label: false%></th>
                    </tr><tr>
                    <th><%= f.input :vvthird , placeholder: "vv",label: false%></th>
                    <th><%= f.input :op , placeholder: "OP",label: false%></th>                  
                    <th> <%= f.input :fourth, placeholder: "cuarto",label: false%></th>
                    <th> <%= f.input :vvfourth, placeholder: "vv",label: false%></th>
                    <th> <%= f.input :fifth, placeholder: "quinto",label: false%></th>
                    <th> <%= f.input :vvfifth, placeholder: "vv",label: false%></th>
                    <th> <%= f.input :sixth, placeholder: "sexto",label: false%></th>
                    <th> <%= f.input :vvsixth, placeholder: "vv",label: false%></th>
                    <th> <%= f.input :achievement, placeholder: "Marca",label: false%></th>
                    <th> <%= f.input :place, placeholder: "Lugar",label: false%></th>
                    <th> <%= f.button :submit ,'Guardar',class: "btn btn-success",label: false%></th>
                  </tr>                  
                  </table>
                   <%end%>
                  <% elsif  user_signed_in? && current_user.email=='admin@prossport.cl' && start=="1"%>
       <div class="row">
          <div class="col-xs-12">
       
             
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                <%= simple_form_for :jump2, :url => jump2s_path, :method => :post  do |f| %>
                <table class="table table-hover">
    
    <%= f.error_notification %>
    <%= f.input :jump_head2_id, :as => :hidden, :input_html => { :value => jump_head2.id  }%>
                  <tr>

                    <th><%= f.input :athlete,  placeholder: "Atleta",label: false%></th>
                    <th><%= f.input :club,  placeholder: "Club",label: false%></th>
                     <th><%= f.input :an,  placeholder: "A.N.",label: false%></th>
                      <th><%= f.input :region,  placeholder: "Región",label: false%></th>
                   
                    <th> <%= f.button :submit ,'Guardar',class: "btn btn-success",label: false%></th>
                  </tr>                  
                  </table>
                  <%end%>
              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
  <%end%>





            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding table-striped">
              <table class="table table-hover " >
                <tbody><tr class="table-info">
                  <% if start=="0" %>
                  <th>Lugar</th>
                  <th>Nombre</th>
                  <th>A.N.</th>
                  <th>Club</th>
                  <th>Región</th>
                  <th>Primero</th>
                  <th>V.V</th>
                  <th>Segundo</th>
                  <th>V.V</th>
                  <th>Tercero</th>
                  <th>V.V</th>
                  <th>OP</th>
                  <th>Cuarto</th>
                  <th>V.V</th>  
                  <th>Quinto</th>
                  <th>V.V</th>
                  <th>Sexto</th>
                  <th>V.V</th>
                  <th>Marca</th>
                  <%elsif start=="1"%>
                  <th>Nombre</th>
                  <th>A.N.</th>
                  <th>Club</th>
                  <th>Región</th>
                  
                  <%end%>
                  
                   <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
                   <th>ELIMINAR</th>
                   <%end%>
                </tr>
                  <%  jump_head2.jump2s.where(:jump_head2_id => jump_head2.id).sort_by { |a| +(a.place.to_i) }.each do |jump2| %>
               
     
        <% if  user_signed_in? && current_user.email=='admin@prossport.cl' && start=="0"%>
  <tr>
<td><%= best_in_place(jump2, :place) %></td>
        <td><%= best_in_place(jump2, :athlete) %></td>
        <td><%= best_in_place(jump2, :an,  :html_attrs => { :size => '6' }) %></td>
        <td><%= best_in_place(jump2, :club,  :html_attrs => { :size => '6' }) %></td>
         <td><%= best_in_place(jump2, :region,  :html_attrs => { :size => '3' }) %></td>
        <td><%= best_in_place(jump2, :first,  :html_attrs => { :size => '3' }) %></td>
        <td><%= best_in_place(jump2, :vvfirst,  :html_attrs => { :size => '2' }) %></td>
        <td><%= best_in_place(jump2, :second,  :html_attrs => { :size => '3' }) %></td>
        <td><%= best_in_place(jump2, :vvsecond,  :html_attrs => { :size => '2' }) %></td>
             <td><%= best_in_place(jump2, :third,  :html_attrs => { :size => '3' }) %></td>
        <td><%= best_in_place(jump2, :vvthird,  :html_attrs => { :size => '2' }) %></td>
        <td><%= best_in_place(jump2, :op,  :html_attrs => { :size => '3' }) %></td>
        <td><%= best_in_place(jump2, :fourth,  :html_attrs => { :size => '3' }) %></td>
        <td><%= best_in_place(jump2, :vvfourth,  :html_attrs => { :size => '2' }) %></td>
        <td><%= best_in_place(jump2, :fifth,  :html_attrs => { :size => '3' }) %></td>
             <td><%= best_in_place(jump2, :vvfifth,  :html_attrs => { :size => '3' }) %></td>
        <td><%= best_in_place(jump2, :sixth,  :html_attrs => { :size => '3' }) %></td>
        <td><%= best_in_place(jump2, :vvsixth,  :html_attrs => { :size => '2' }) %></td>
        <td><%= best_in_place(jump2, :achievement,  :html_attrs => { :size => '3' }) %></td>
        
         <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
        <td><%= link_to jump2, method: :delete, data: { confirm: 'Está seguro?' }, class: "" do %><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></td>
        <% end %> 
        <%end%>
      </tr>

   <% elsif  user_signed_in? && current_user.email=='admin@prossport.cl' && start=="1"%>
  <tr>

        <td><%= best_in_place(jump2, :athlete) %></td>
        <td><%= best_in_place(jump2, :an) %></td>
        <td><%= best_in_place(jump2, :club) %></td>
         <td><%= best_in_place(jump2, :region) %></td>
    
        
         <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
        <td><%= link_to jump2, method: :delete, data: { confirm: 'Está seguro?' }, class: "" do %><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></td>
        <% end %> 
        <%end%>
      </tr>
<% elsif  !user_signed_in? && start=="1"%>
  <tr>

        <td><%=jump2.athlete%></td>
        <td><%= jump2.an%></td>
        <td><%= jump2.club%></td>
         <td><%= jump2.region%></td>
    <% elsif  !user_signed_in? && start=="0"%>
   <tr>
<td><%= jump2.place %></td>
        <td><%= jump2.athlete %></td>
        <td><%= jump2.an %></td>
        <td><%= jump2.club %></td>
         <td><%= jump2.region %></td>
        <td><%= jump2.first %></td>
        <td><%= jump2.vvfirst %></td>
        <td><%= jump2.second %></td>
        <td><%= jump2.vvsecond %></td>
             <td><%=jump2.third %></td>
        <td><%= jump2.vvthird %></td>
        <td><%= jump2.op %></td>
        <td><%= jump2.fourth %></td>
        <td><%= jump2.vvfourth %></td>
        <td><%= jump2.fifth %></td>
             <td><%=jump2.vvfifth %></td>
        <td><%=jump2.sixth %></td>
        <td><%=jump2.vvsixth %></td>
        <td><%=jump2.achievement %></td>
    
        
         <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
        <td><%= link_to jump2, method: :delete, data: { confirm: 'Está seguro?' }, class: "" do %><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></td>
        <% end %> 
        <%end%>
      </tr>
 <%end%>
    <% end %>
              </tbody></table>
            </div>
 <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
    <div class="box-header callout-success">
      <h4><strong>IMPORTAR</strong></h4>
     </div>
   <%=form_tag import_jump2s_path("id"=>jump_head2.id), multipart: true do%>
<%=file_field_tag :file%>
<%=submit_tag "Importar"%>
 <% end %>
<%end%>

            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>


    
  <%end%>
    
<br>
<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
<style>


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
</style>

  <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
  <script type="application/javascript">

$(document).ready(function() {
jQuery(".best_in_place").best_in_place();
});
function bestInPlace()
{
 jQuery(".best_in_place").best_in_place();
};
 </script>
 <div class="box-header table-info">
              <h3 class="box-title">Nueva Serie
             
              </h3>

              <div class="box-tools">
              </div>
            </div>
       <div class="row">
          <div class="col-xs-12">
       
             
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                 <%= simple_form_for :jump_head2, :url => jump_head2s_path, :method => :post  do |f| %>
                <table class="table table-hover">
                  
   
    <%= f.error_notification %>
                  <tr>
                     <th><%= f.input :competition_id, :as => :hidden, :input_html => { :value => competition_id  }%></th>
                    <th><%= f.input :sex_id, :as => :hidden, :input_html => { :value => sex_id  }%></th>
                    <th><%= f.input :sport_id, :as => :hidden, :input_html => { :value => sport_id  }%></th>
                    <th><%= f.input :category_id, :as => :hidden, :input_html => { :value => category_id  }%></th>
                    
                     <th> <%= f.input :serie, placeholder: "Serie N°",label: false%></th>
          
                    
                    <th> <%= f.button :submit ,'Guardar',class: "btn btn-success"%></th>
                  </tr>
                
                         </table>
                           <%end%>
              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
  <%end%>
<%= link_to "VOLVER", root_path(), class: "btn btn-warning" %>

</div>


