<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @male100mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @male100mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @male100mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @male100mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @male100mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @male100mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @male100mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @male100mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @male100mt.country %>
</p>

<p>
  <strong>Male100mtshead:</strong>
  <%= @male100mt.male100mtsHead_id %>
</p>

<%= link_to 'Edit', edit_male100mt_path(@male100mt) %> |
<%= link_to 'Back', male100mts_path %>
