<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @malesenior200mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @malesenior200mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @malesenior200mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @malesenior200mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @malesenior200mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @malesenior200mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @malesenior200mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @malesenior200mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @malesenior200mt.country %>
</p>

<p>
  <strong>Malesenior200mts:</strong>
  <%= @malesenior200mt.maleSenior200mts_id %>
</p>

<%= link_to 'Edit', edit_malesenior200mt_path(@malesenior200mt) %> |
<%= link_to 'Back', malesenior200mts_path %>
