<p id="notice"><%= notice %></p>

<h1>Male High Jumps</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>An</th>
      <th>Club</th>
      <th>Reg</th>
      <th>Country</th>
      <th>First</th>
      <th>Vvfirst</th>
      <th>Seconnd</th>
      <th>Vvsecond</th>
      <th>Third</th>
      <th>Vvthird</th>
      <th>Op</th>
      <th>Fourth</th>
      <th>Vvfourth</th>
      <th>Fift</th>
      <th>Vvfifth</th>
      <th>Sixth</th>
      <th>Vvsixth</th>
      <th>Achievement</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @male_high_jumps.each do |male_high_jump| %>
      <tr>
        <td><%= male_high_jump.number %></td>
        <td><%= male_high_jump.name %></td>
        <td><%= male_high_jump.an %></td>
        <td><%= male_high_jump.club %></td>
        <td><%= male_high_jump.reg %></td>
        <td><%= male_high_jump.country %></td>
        <td><%= male_high_jump.first %></td>
        <td><%= male_high_jump.vvFirst %></td>
        <td><%= male_high_jump.seconnd %></td>
        <td><%= male_high_jump.vvSecond %></td>
        <td><%= male_high_jump.third %></td>
        <td><%= male_high_jump.vvThird %></td>
        <td><%= male_high_jump.op %></td>
        <td><%= male_high_jump.fourth %></td>
        <td><%= male_high_jump.vvFourth %></td>
        <td><%= male_high_jump.fift %></td>
        <td><%= male_high_jump.vvFifth %></td>
        <td><%= male_high_jump.sixth %></td>
        <td><%= male_high_jump.vvSixth %></td>
        <td><%= male_high_jump.achievement %></td>
        <td><%= male_high_jump.place %></td>
        <td><%= link_to 'Show', male_high_jump %></td>
        <td><%= link_to 'Edit', edit_male_high_jump_path(male_high_jump) %></td>
        <td><%= link_to 'Destroy', male_high_jump, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Male High Jump', new_male_high_jump_path %>
