<p id="notice"><%= notice %></p>

<p>
  <strong>Lugar:</strong>
  <%= @detalle.lugar %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @detalle.marca %>
</p>

<p>
  <strong>Pista:</strong>
  <%= @detalle.pista %>
</p>

<p>
  <strong>Atleta:</strong>
  <%= @detalle.atleta %>
</p>

<p>
  <strong>An:</strong>
  <%= @detalle.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @detalle.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @detalle.region %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @detalle.pais %>
</p>

<%= link_to 'Edit', edit_detalle_path(@detalle) %> |
<%= link_to 'Back', detalles_path %>
