<p id="notice"><%= notice %></p>

<p>
  <strong>Throw head2:</strong>
  <%= @throw2.throw_head2 %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @throw2.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @throw2.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @throw2.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @throw2.region %>
</p>

<p>
  <strong>First:</strong>
  <%= @throw2.first %>
</p>

<p>
  <strong>Second:</strong>
  <%= @throw2.second %>
</p>

<p>
  <strong>Third:</strong>
  <%= @throw2.third %>
</p>

<p>
  <strong>Op:</strong>
  <%= @throw2.op %>
</p>

<p>
  <strong>Fourth:</strong>
  <%= @throw2.fourth %>
</p>

<p>
  <strong>Fifth:</strong>
  <%= @throw2.fifth %>
</p>

<p>
  <strong>Sixth:</strong>
  <%= @throw2.sixth %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @throw2.achievement %>
</p>

<p>
  <strong>Place:</strong>
  <%= @throw2.place %>
</p>

<%= link_to 'Edit', edit_throw2_path(@throw2) %> |
<%= link_to 'Back', throw2s_path %>
