<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_female1500mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_female1500mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_female1500mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_female1500mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_female1500mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_female1500mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_female1500mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_female1500mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_female1500mt.country %>
</p>

<p>
  <strong>Female1500mtshead:</strong>
  <%= @start_female1500mt.female1500mtsHead_id %>
</p>

<%= link_to 'Edit', edit_start_female1500mt_path(@start_female1500mt) %> |
<%= link_to 'Back', start_female1500mts_path %>
