<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @jump_female.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @jump_female.name %>
</p>

<p>
  <strong>An:</strong>
  <%= @jump_female.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @jump_female.club %>
</p>

<p>
  <strong>Reg:</strong>
  <%= @jump_female.reg %>
</p>

<p>
  <strong>Country:</strong>
  <%= @jump_female.country %>
</p>

<p>
  <strong>First:</strong>
  <%= @jump_female.first %>
</p>

<p>
  <strong>Vvfirst:</strong>
  <%= @jump_female.vvFirst %>
</p>

<p>
  <strong>Seconnd:</strong>
  <%= @jump_female.seconnd %>
</p>

<p>
  <strong>Vvsecond:</strong>
  <%= @jump_female.vvSecond %>
</p>

<p>
  <strong>Third:</strong>
  <%= @jump_female.third %>
</p>

<p>
  <strong>Vvthird:</strong>
  <%= @jump_female.vvThird %>
</p>

<p>
  <strong>Op:</strong>
  <%= @jump_female.op %>
</p>

<p>
  <strong>Fourth:</strong>
  <%= @jump_female.fourth %>
</p>

<p>
  <strong>Vvfourth:</strong>
  <%= @jump_female.vvFourth %>
</p>

<p>
  <strong>Fift:</strong>
  <%= @jump_female.fift %>
</p>

<p>
  <strong>Vvfifth:</strong>
  <%= @jump_female.vvFifth %>
</p>

<p>
  <strong>Sixth:</strong>
  <%= @jump_female.sixth %>
</p>

<p>
  <strong>Vvsixth:</strong>
  <%= @jump_female.vvSixth %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @jump_female.achievement %>
</p>

<p>
  <strong>Place:</strong>
  <%= @jump_female.place %>
</p>

<%= link_to 'Edit', edit_jump_female_path(@jump_female) %> |
<%= link_to 'Back', jump_females_path %>
