<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @female4x400mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @female4x400mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @female4x400mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @female4x400mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @female4x400mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @female4x400mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @female4x400mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @female4x400mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @female4x400mt.country %>
</p>

<p>
  <strong>Female4x400mthead:</strong>
  <%= @female4x400mt.female4x400mtHead_id %>
</p>

<%= link_to 'Edit', edit_female4x400mt_path(@female4x400mt) %> |
<%= link_to 'Back', female4x400mts_path %>
