
 <p id="notice"><%= notice %></p>


 
<%= content_tag :table, role: :datatable, data: { url: throwings_path(format: :json)} do %>
  <thead>
    <tr>
     
      <th>N°<th>
      <th>Nombre</th>
      <th>A.N.</th>
      <th>Club</th>
      <th>País</th>
      <th>1°</th>
      <th>2°</th>
      <th>3°</th>
      <th>Op</th>
      <th>4°</th>
      <th>5°</th>
      <th>6°</th>
      <th>Marca</th>
      <th>Lugar</th>
      
    </tr>
  </thead>

   <tbody onmouseover="bestInPlace();">
  </tbody>
<% end %>

<br>
<script type="application/javascript">
$(document).ready(function() {
jQuery(".best_in_place").best_in_place();
});
function bestInPlace()
{
 jQuery(".best_in_place").best_in_place();
};
 </script>


<h3>Importar</h3>

<%=form_tag import_throwings_path, multipart: true do%>
<%=file_field_tag :file%>
<%=submit_tag "Importar"%>

 <% end %>
<%= link_to 'New throwing', new_throwing_path %>
