<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @throwing.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @throwing.name %>
</p>

<p>
  <strong>An:</strong>
  <%= @throwing.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @throwing.club %>
</p>

<p>
  <strong>Reg:</strong>
  <%= @throwing.reg %>
</p>

<p>
  <strong>Country:</strong>
  <%= @throwing.country %>
</p>

<p>
  <strong>First:</strong>
  <%= @throwing.first %>
</p>

<p>
  <strong>Seconnd:</strong>
  <%= @throwing.seconnd %>
</p>

<p>
  <strong>Third:</strong>
  <%= @throwing.third %>
</p>

<p>
  <strong>Op:</strong>
  <%= @throwing.op %>
</p>

<p>
  <strong>Fourth:</strong>
  <%= @throwing.fourth %>
</p>

<p>
  <strong>Fift:</strong>
  <%= @throwing.fift %>
</p>

<p>
  <strong>Sixth:</strong>
  <%= @throwing.sixth %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @throwing.achievement %>
</p>

<p>
  <strong>Place:</strong>
  <%= @throwing.place %>
</p>

<%= link_to 'Edit', edit_throwing_path(@throwing) %> |
<%= link_to 'Back', throwings_path %>
