<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @femalesenior200mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @femalesenior200mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @femalesenior200mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @femalesenior200mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @femalesenior200mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @femalesenior200mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @femalesenior200mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @femalesenior200mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @femalesenior200mt.country %>
</p>

<p>
  <strong>Femalesenior200mts:</strong>
  <%= @femalesenior200mt.femaleSenior200mts_id %>
</p>

<%= link_to 'Edit', edit_femalesenior200mt_path(@femalesenior200mt) %> |
<%= link_to 'Back', femalesenior200mts_path %>
