<p id="notice"><%= notice %></p>

<p>
  <strong>Start head:</strong>
  <%= @start2.start_head %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start2.athlete %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start2.rail %>
</p>

<p>
  <strong>An:</strong>
  <%= @start2.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start2.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start2.region %>
</p>

<p>
  <strong>Bestachievement:</strong>
  <%= @start2.bestAchievement %>
</p>

<%= link_to 'Edit', edit_start2_path(@start2) %> |
<%= link_to 'Back', start2s_path %>
