<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @female800mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @female800mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @female800mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @female800mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @female800mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @female800mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @female800mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @female800mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @female800mt.country %>
</p>

<p>
  <strong>Female800mthead:</strong>
  <%= @female800mt.female800mtHead_id %>
</p>

<%= link_to 'Edit', edit_female800mt_path(@female800mt) %> |
<%= link_to 'Back', female800mts_path %>
