<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_female800mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_female800mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_female800mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_female800mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_female800mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_female800mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_female800mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_female800mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_female800mt.country %>
</p>

<p>
  <strong>Female800mtstart:</strong>
  <%= @start_female800mt.female800mtStart_id %>
</p>

<%= link_to 'Edit', edit_start_female800mt_path(@start_female800mt) %> |
<%= link_to 'Back', start_female800mts_path %>
