<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @male800mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @male800mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @male800mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @male800mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @male800mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @male800mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @male800mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @male800mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @male800mt.country %>
</p>

<p>
  <strong>Male800mthead:</strong>
  <%= @male800mt.male800mtHead_id %>
</p>

<%= link_to 'Edit', edit_male800mt_path(@male800mt) %> |
<%= link_to 'Back', male800mts_path %>
