<p id="notice"><%= notice %></p>

<p>
  <strong>Championship:</strong>
  <%= @shot_put_head.championship_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @shot_put_head.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @shot_put_head.hora %>
</p>

<%= link_to 'Edit', edit_shot_put_head_path(@shot_put_head) %> |
<%= link_to 'Back', shot_put_heads_path %>
