<p id="notice"><%= notice %></p>

<h1>Start Male Throwing Discs</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Achievement</th>
      <th>Rail</th>
      <th>Number</th>
      <th>Athlete</th>
      <th>An</th>
      <th>Club</th>
      <th>Region</th>
      <th>Country</th>
      <th>Malethrowingdischead</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @start_male_throwing_discs.each do |start_male_throwing_disc| %>
      <tr>
        <td><%= start_male_throwing_disc.place %></td>
        <td><%= start_male_throwing_disc.achievement %></td>
        <td><%= start_male_throwing_disc.rail %></td>
        <td><%= start_male_throwing_disc.number %></td>
        <td><%= start_male_throwing_disc.athlete %></td>
        <td><%= start_male_throwing_disc.an %></td>
        <td><%= start_male_throwing_disc.club %></td>
        <td><%= start_male_throwing_disc.region %></td>
        <td><%= start_male_throwing_disc.country %></td>
        <td><%= start_male_throwing_disc.maleThrowingDiscHead_id %></td>
        <td><%= link_to 'Show', start_male_throwing_disc %></td>
        <td><%= link_to 'Edit', edit_start_male_throwing_disc_path(start_male_throwing_disc) %></td>
        <td><%= link_to 'Destroy', start_male_throwing_disc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Start Male Throwing Disc', new_start_male_throwing_disc_path %>
