<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_male_throwing_disc.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_male_throwing_disc.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_male_throwing_disc.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_male_throwing_disc.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_male_throwing_disc.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_male_throwing_disc.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_male_throwing_disc.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_male_throwing_disc.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_male_throwing_disc.country %>
</p>

<p>
  <strong>Malethrowingdischead:</strong>
  <%= @start_male_throwing_disc.maleThrowingDiscHead_id %>
</p>

<%= link_to 'Edit', edit_start_male_throwing_disc_path(@start_male_throwing_disc) %> |
<%= link_to 'Back', start_male_throwing_discs_path %>
