<p id="notice"><%= notice %></p>

<p>
  <strong>Jump head2:</strong>
  <%= @jump2.jump_head2 %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @jump2.athlete %>
</p>

<p>
  <strong>Club:</strong>
  <%= @jump2.club %>
</p>

<p>
  <strong>First:</strong>
  <%= @jump2.first %>
</p>

<p>
  <strong>Vvfirst:</strong>
  <%= @jump2.vvfirst %>
</p>

<p>
  <strong>Second:</strong>
  <%= @jump2.second %>
</p>

<p>
  <strong>Vvsecond:</strong>
  <%= @jump2.vvsecond %>
</p>

<p>
  <strong>Third:</strong>
  <%= @jump2.third %>
</p>

<p>
  <strong>Vvthird:</strong>
  <%= @jump2.vvthird %>
</p>

<p>
  <strong>Op:</strong>
  <%= @jump2.op %>
</p>

<p>
  <strong>Fourth:</strong>
  <%= @jump2.fourth %>
</p>

<p>
  <strong>Vvfourth:</strong>
  <%= @jump2.vvfourth %>
</p>

<p>
  <strong>Fifth:</strong>
  <%= @jump2.fifth %>
</p>

<p>
  <strong>Vvfifth:</strong>
  <%= @jump2.vvfifth %>
</p>

<p>
  <strong>Sixth:</strong>
  <%= @jump2.sixth %>
</p>

<p>
  <strong>Vvsixth:</strong>
  <%= @jump2.vvsixth %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @jump2.achievement %>
</p>

<p>
  <strong>Place:</strong>
  <%= @jump2.place %>
</p>

<%= link_to 'Edit', edit_jump2_path(@jump2) %> |
<%= link_to 'Back', jump2s_path %>
