<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @female400mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @female400mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @female400mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @female400mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @female400mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @female400mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @female400mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @female400mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @female400mt.country %>
</p>

<p>
  <strong>Female400mtshead:</strong>
  <%= @female400mt.female400mtsHead_id %>
</p>

<%= link_to 'Edit', edit_female400mt_path(@female400mt) %> |
<%= link_to 'Back', female400mts_path %>
