<p id="notice"><%= notice %></p>

<h1>Female3000mts</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Achievement</th>
      <th>Rail</th>
      <th>Number</th>
      <th>Athlete</th>
      <th>An</th>
      <th>Club</th>
      <th>Region</th>
      <th>Country</th>
      <th>Female3000mthead</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @female3000mts.each do |female3000mt| %>
      <tr>
        <td><%= female3000mt.place %></td>
        <td><%= female3000mt.achievement %></td>
        <td><%= female3000mt.rail %></td>
        <td><%= female3000mt.number %></td>
        <td><%= female3000mt.athlete %></td>
        <td><%= female3000mt.an %></td>
        <td><%= female3000mt.club %></td>
        <td><%= female3000mt.region %></td>
        <td><%= female3000mt.country %></td>
        <td><%= female3000mt.female3000mtHead_id %></td>
        <td><%= link_to 'Show', female3000mt %></td>
        <td><%= link_to 'Edit', edit_female3000mt_path(female3000mt) %></td>
        <td><%= link_to 'Destroy', female3000mt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Female3000mt', new_female3000mt_path %>
