<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @female3000mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @female3000mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @female3000mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @female3000mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @female3000mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @female3000mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @female3000mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @female3000mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @female3000mt.country %>
</p>

<p>
  <strong>Female3000mthead:</strong>
  <%= @female3000mt.female3000mtHead_id %>
</p>

<%= link_to 'Edit', edit_female3000mt_path(@female3000mt) %> |
<%= link_to 'Back', female3000mts_path %>
