
<%= simple_form_for(@track) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :trackHeadId %>
    <%= f.input :place %>
    <%= f.input :achievement %>
    <%= f.input :athlete %>
    <%= f.input :an %>
    <%= f.input :club %>
    <%= f.input :region %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
