<p id="notice"><%= notice %></p>

<p>
  <strong>Trackheadid:</strong>
  <%= @track.trackHeadId %>
</p>

<p>
  <strong>Place:</strong>
  <%= @track.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @track.achievement %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @track.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @track.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @track.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @track.region %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
