<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @female_javeline.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @female_javeline.name %>
</p>

<p>
  <strong>An:</strong>
  <%= @female_javeline.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @female_javeline.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @female_javeline.region %>
</p>

<p>
  <strong>First:</strong>
  <%= @female_javeline.first %>
</p>

<p>
  <strong>Second:</strong>
  <%= @female_javeline.second %>
</p>

<p>
  <strong>Third:</strong>
  <%= @female_javeline.third %>
</p>

<p>
  <strong>Fourth:</strong>
  <%= @female_javeline.fourth %>
</p>

<p>
  <strong>Fifth:</strong>
  <%= @female_javeline.fifth %>
</p>

<p>
  <strong>Sixth:</strong>
  <%= @female_javeline.sixth %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @female_javeline.achievement %>
</p>

<p>
  <strong>Place:</strong>
  <%= @female_javeline.place %>
</p>

<%= link_to 'Edit', edit_female_javeline_path(@female_javeline) %> |
<%= link_to 'Back', female_javelines_path %>
