<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @male100mthudrle.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @male100mthudrle.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @male100mthudrle.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @male100mthudrle.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @male100mthudrle.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @male100mthudrle.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @male100mthudrle.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @male100mthudrle.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @male100mthudrle.country %>
</p>

<p>
  <strong>Male100mthudrlehead:</strong>
  <%= @male100mthudrle.male100mthudrleHead_id %>
</p>

<%= link_to 'Edit', edit_male100mthudrle_path(@male100mthudrle) %> |
<%= link_to 'Back', male100mthudrles_path %>
