<p id="notice"><%= notice %></p>

<p>
  <strong>Registration head2:</strong>
  <%= @registration_detail2.registration_head2 %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @registration_detail2.competition %>
</p>

<p>
  <strong>Bestachievement:</strong>
  <%= @registration_detail2.bestAchievement %>
</p>

<%= link_to 'Edit', edit_registration_detail2_path(@registration_detail2) %> |
<%= link_to 'Back', registration_detail2s_path %>
