<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @male200mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @male200mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @male200mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @male200mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @male200mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @male200mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @male200mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @male200mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @male200mt.country %>
</p>

<p>
  <strong>Male200mtshead:</strong>
  <%= @male200mt.male200mtsHead_id %>
</p>

<%= link_to 'Edit', edit_male200mt_path(@male200mt) %> |
<%= link_to 'Back', male200mts_path %>
