      <div class="row">
         <div class="col-md-3 col-sm-6 col-xs-12">
             <%= link_to championships_path(), :class=> "you_class" do %>
   <b>
          <div class="info-box">
            <span class="info-box-icon bg-aqua">

              <i class="fa fa-trophy" aria-hidden="true"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">CAMPEONATOS</span>
              <span class="info-box-number"><%=Championship.all.count%></span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </b>
          <% end %>
          <!-- /.info-box -->
        </div>
        <!-- ./col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-area-chart" aria-hidden="true"></i></i></span>

            <div class="info-box-content">
              <span class="info-box-text">ESTADÍSTICAS</span>
              <span class="info-box-number">100 %</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- ./col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
         <%= link_to athletes_path(), :class=> "you_class" do %>
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-users" aria-hidden="true"></i></span>

            <div class="info-box-content">
              <span class="info-box-text"><b>ATLETAS</b></span>
              <span class="info-box-number"><%=Athlete.all.count%></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <%end%>
          <!-- /.info-box -->
        </div>
        <!-- ./col -->
       <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-calendar" aria-hidden="true"></i></i></span>

            <div class="info-box-content">
              <span class="info-box-text">CALENDARIO</span>
              <span class="info-box-number">5</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- ./col -->
      </div> <div class="callout callout-warning ">
               
        <div class="input-group col-md-16"> <h4>CAMPEONATOS 2018</h4>
       <div class=" navbar-left col-md-6" >
       </div>
      
      <input class="form-control py-2" type="search" placeholder="Buscar ej: Cadetes" id="search" name="search">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary bg-gray" type="button">
            <i class="fa fa-search"></i>
        </button>
      </span>
</div>
    </div>
    <!-- Main content -->

      <p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-12">
            <div class="box-body table-responsive no-padding table-striped">
              <table class="table table-hover">
        <thead>
          <tr  class="table-info">
<th>STATUS</th>
    <th>CAMPEONATO</th>
      <th>FECHA INICIO</th>
      <th>FECHA TÉRMINO</th>
      <th>PAÍS</th>
      
      <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% if @championships.any? %>
  
    <% @championships.order("initdate desc").each do |championship| %>
        <tr>
<%if championship.id==7 %><td><span class="label label-success">RESULTADOS EN VIVO</span></td>
<%else%>
<td><span class="label label-danger">TERMINADO</span></td><%end%>


        <td><b><%= link_to championship.name, championship %></b></td>
        <td><%= championship.initdate.strftime("%F %T") %></td>
        <td><%= championship.findate.strftime("%F %T") %></td>
 <%if championship.id==3 %>     <td><%=image_tag("pe.png", alt:"cl", height:"20",  width:"20")%></td>
      <%else%>
 <td><%=image_tag("cl.png", alt:"cl", height:"20",  width:"20")%></td>

<%end%>

<td><% if  user_signed_in? && getAdminPermission( current_user.email)%> <%= link_to 'EDITAR', edit_championship_path(championship), class: "btn btn-warning"  %><%= link_to championship, method: :delete, data: { confirm: 'Está seguro?' }, class: "" do %>
                 <% if  user_signed_in? && getAdminPermission( current_user.email)%><button type="button" class="btn btn-danger" aria-label="Left Align">ELIMINAR</button>
        <% end %>
        <% end %> <%end%></td>
        
  </tr>
   <%end%>

     </tbody>
      </table>
     
            </div>

<% if  user_signed_in? && getAdminPermission( current_user.email)%> 
<br/>
<%= link_to "NUEVO CAMPEONATO", new_championship_path, class: "btn btn-success" %>
<%end%>
</div>

<% end %>

</div>
