
    <!-- Main content -->
    <section class="content container-fluid">
    
      <p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-12">
    <div class="callout callout-warning">
                <h4><%= @championship.name %></h4>

    </div>
    <div class="row">
   <% if @championship.stages.any? %>
  
    <% @championship.stages.each do |stage| %>
    <div class="col-md-12">
<div class="box">
            <div class="box-header">
              <h3 class="box-title">HORARIOS</h3>
              <h4 class="box-title"><%=stage.name %> <%=stage.fecha%></h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table">
        <thead>
          <tr>
          <th>HORA</th>
            <th>PRUEBA</th>
            <th>CATEGORÍA</th>
          <th>FINAL</th>
            <th>RESULTADOS</th>
            <th>STARTLIST</th>
          </tr>
        </thead>
        <tbody>
          <% @championship.competitions.where(:stage => stage.id).each do |competition| %>
                    <tr>
            <td data-label="HORA"> <%=competition.hour.strftime('%H:%M')%></td>
            <td data-label="PRUEBA"> <%=competition.sport.name%></td>
          <td data-label="FINAL"> <%=competition.category.name%></td>
          <td data-label="CATEGORÍA"> <%=competition.sex.sex%></td>
          <td data-label="RESULTADOS"><%= link_to "RESULTADOS", track_head2s_path(:competition_id=>competition.id), class: "btn btn-warning" %></td>
          <td><%= link_to "STARTLIST", start_heads_path(:competition_id=>competition.id), class: "btn btn-primary" %></td>
          </tr>
  
   <%end%>
     </tbody>
      </table>
     
            </div>
            <!-- /.box-body -->
          </div>
</div>

<% end %>
  
<% end %>

</div>



