  <!-- Main content -->
    
<div class="row">
<div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <div class="callout callout-warning">
                <h4><%= @championship.name %> <%= link_to image_tag("excel.png" ,style: 'height:3%;width:3%;', border: 0, title: 'EXPORTAR RESULTADOS'), track2s_path(format: "xlsx", :competition_id => params[:competition_id]) %></h4>
               <b><h5> <%=link_to "INSCRIPCIONES ABIERTAS", class: "alert alert-success", :controller => "registration_head2s", :action => "new",:id => @championship.id %></h5></b>

    </div>
       <% if  user_signed_in? && getAdminPermission( current_user.email)%> 

       <div class="row">
          <div class="col-xs-12">
       
             
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                   <%= simple_form_for :stage, :url => stages_path, :method => :post  do |f| %>
    <%= f.error_notification %>
                <table class="table table-hover"> 
                  <tr>
                    <th><%= f.input :championship_id, :as => :hidden, :input_html => { :value => @championship.id  }%></th>
                     <th>FECHA<%= f.date_field :Fecha , class: 'form-control'%></th>
                    <th>NOMBRE<%= f.input :name,  placeholder: "Nombre",label: false%></th>
                    
                    
                    <th><br/> <%= f.button :submit ,'NUEVA ETAPA',class: "btn btn-success"%></th>
                  </tr>                 
                         </table>
                          <%end%>
              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
    <%end%>
    <div class="row">
   <% if @championship.stages.any? %>
  
    <% @championship.stages.order(fecha: :asc).each do |stage| %>
    <div class="col-md-12">
<div class="box">
            <div class="box-header table-info">
              <h3 class="box-title">HORARIOS</h3>
              <h4 class="box-title"><%=stage.name %> <%=stage.fecha%></h4>
                 <%= link_to stage, method: :delete, data: { confirm: 'Está seguro?' }, class: "" do %>
                 <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%><button type="button" class="btn btn-danger" aria-label="Left Align">ELIMINAR ETAPA</button>
        <% end %>
        <% end %> 
                   <div class="box-body table-responsive no-padding">
                   <%= simple_form_for :competition, :url => competitions_path, :method => :post  do |f| %>
    <%= f.error_notification %>
<% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
                <table class="table table-hover"> 
                  <tr>
                    <th><%= f.input :stage_id, :as => :hidden, :input_html => { :value => stage.id  }%></th>
                    <th> <%= f.input :hour, placeholder: "HORA",label: false%></th>
                     <th>DEPORTE<%= f.input :sport_id, :collection => Sport.all,placeholder: "DEPORTE",label: false%></th>
                     
                    <th>CATEGORÍA<%= f.input :category_id, :collection => Category.all.order(name: :asc), placeholder: "CATEGOTÍA",label: false%></th>
                    <th>TIPO<%= f.input :competition_type_id, :collection => CompetitionType.all.order(name: :asc), placeholder: "TIPO",label: false%></th>
                    <th>SEXO<%= f.input :sex_id, :collection => Sex.all.order(name: :asc), placeholder: "SEXO",label: false%></th>
                   
                    
                    <th><br/> <%= f.button :submit ,'Guardar',class: "btn btn-success"%></th>
                  </tr>                 
                         </table>
                          <%end%>
                          <%end%>
              </div> 
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding table-striped">
              <table class="table table-hover">
        <thead>
          <tr>
          <th>HORA</th>
            <th>PRUEBA</th>
            <th>CATEGORÍA</th>
            <th>RESULTADOS</th>
            <th>STARTLIST</th>
	    
          </tr>
        </thead>
        <tbody>
          <% @championship.competitions.where(:stage => stage.id).order(hour: :asc).each do |competition| %>
        <tr>
        <td data-label="HORA"> <%=competition.hour.strftime('%H:%M')%></td>
        <td data-label="PRUEBA"> <%=competition.sport.name%> <%=competition.sex.name%></td>
        <td data-label="FINAL"> <%=competition.category.name%></td>
        <td data-label="RESULTADOS">
       <%if competition.competition_type_id==1 %>
       <%=link_to "RESULTADOS", track_head2s_path(:competition_id=>competition.id, :start=>"0"), class: "btn btn-warning" %>
        </td>
          <td><%= link_to "STARTLIST", track_head2s_path(:competition_id=>competition.id, :start=>"1"), class: "btn btn-primary" %></td>
<td>
  <%= link_to competition, method: :delete, data: { confirm: 'Está seguro?' }, class: "" do %>
                 <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%><button type="button" class="btn btn-danger" aria-label="Left Align">ELIMINAR</button>
        <% end %>
        <% end %>

</td>

   </tr>
      <%end%>

 <% if competition.competition_type_id==3%>
            <%=link_to "RESULTADOS", throw_head2s_path(:competition_id=>competition.id, :start=>"0"), class: "btn btn-warning"%>
            </td>
          <td><%= link_to "STARTLIST", throw_head2s_path(:competition_id=>competition.id, :start=>"1"), class: "btn btn-primary" %></td>
<td>
  <%= link_to competition, method: :delete, data: { confirm: 'Está seguro?' }, class: "" do %>
                 <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%><button type="button" class="btn btn-danger" aria-label="Left Align">ELIMINAR</button>
        <% end %>
        <% end %>

</td>

          </tr>
            <% elsif competition.competition_type_id==4%>
            <%=link_to "RESULTADOS", jump_head2s_path(:competition_id=>competition.id, :start=>"0"), class: "btn btn-warning"%>
             <td><%= link_to "STARTLIST", jump_head2s_path(:competition_id=>competition.id, :start=>"1"), class: "btn btn-primary" %></td>
 <% elsif competition.competition_type_id==2 %>
            <%=link_to "RESULTADOS", hjump_head2s_path(:competition_id=>competition.id, :start=>"0"), class: "btn btn-warning"%> 
             <td><%= link_to "STARTLIST", hjump_head2s_path(:competition_id=>competition.id, :start=>"1"), class: "btn btn-primary" %></td>
<td>
  <%= link_to competition, method: :delete, data: { confirm: 'Está seguro?' }, class: "" do %>
                 <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%><button type="button" class="btn btn-danger" aria-label="Left Align">ELIMINAR</button>
        <% end %>
        <% end %>

</td>

          </tr>         
          <%end%>
         
  
   <%end%>

     </tbody>
      </table>
     
            </div>
            <!-- /.box-body -->
          </div>
</div>

<% end %>
  
<% end %>
<%= link_to "VOLVER", root_path(), class: "btn btn-warning" %><br/>
</div>



