<script type="text/javascript">
$("input.datepicker").each(function(input) {
  $(this).datepicker({
    dateFormat: "yy-mm-dd",
    altField: $(this).next()
  })

  // If you use i18n-js you can set the locale like that
  $(this).datepicker("option", $.datepicker.regional[I18n.currentLocale()]);
})
</script>
    <!-- Main content -->
    
<div class="row">
<div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <div class="callout callout-warning">
                <h4><%= @championship.name %></h4>

    </div>
       <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
       <div class="row">
          <div class="col-xs-12">
       
             
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                   <%= simple_form_for :stage, :url => stages_path, :method => :post  do |f| %>
    <%= f.error_notification %>
                <table class="table table-hover"> 
                  <tr>
                    <th><%= f.input :championship_id, :as => :hidden, :input_html => { :value => @championship.id  }%></th>
                     <th> <%= f.input :fecha, placeholder: "Fecha",label: false%></th>
                    <th><%= f.input :name,  placeholder: "Nombre",label: false%></th>
                    
                    
                    <th> <%= f.button :submit ,'NUEVA ETAPA',class: "btn btn-success"%></th>
                  </tr>                 
                         </table>
                          <%end%>
              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
    <%end%>
    <div class="row">
   <% if @championship.stages.any? %>
  
    <% @championship.stages.order(fecha: :asc).each do |stage| %>
    <div class="col-md-12">
<div class="box">
            <div class="box-header table-info">
              <h3 class="box-title">HORARIOS</h3>
              <h4 class="box-title"><%=stage.name %> <%=stage.fecha%></h4>
                 <%= link_to stage, method: :delete, data: { confirm: 'Está seguro?' }, class: "" do %><button type="button" class="btn btn-danger" aria-label="Left Align">ELIMINAR ETAPA</button>
        <% end %> 
              
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding table-striped">
              <table class="table table-hover">
        <thead>
          <tr>
          <th>HORA</th>
            <th>PRUEBA</th>
            <th>CATEGORÍA</th>
            <th>RESULTADOS</th>
            <th>STARTLIST</th>
          </tr>
        </thead>
        <tbody>
          <% @championship.competitions.where(:stage => stage.id).order(hour: :asc).each do |competition| %>
        <tr>
        <td data-label="HORA"> <%=competition.hour.strftime('%H:%M')%></td>
        <td data-label="PRUEBA"> <%=competition.sport.name%> <%=competition.sex.sex%></td>
        <td data-label="FINAL"> <%=competition.category.name%></td>
        <td data-label="RESULTADOS">
       <%if competition.competition_type_id==1 %>
       <%=link_to "RESULTADOS", track_head2s_path(:competition_id=>competition.id, :start=>"0"), class: "btn btn-warning" %>
        </td>
          <td><%= link_to "STARTLIST", track_head2s_path(:competition_id=>competition.id, :start=>"1"), class: "btn btn-primary" %></td>
          </tr>
      <%end%>

 <% if competition.competition_type_id==3%>
            <%=link_to "RESULTADOS", throw_head2s_path(:competition_id=>competition.id, :start=>"0"), class: "btn btn-warning"%>
            </td>
          <td><%= link_to "STARTLIST", throw_head2s_path(:competition_id=>competition.id, :start=>"1"), class: "btn btn-primary" %></td>
          </tr>
            <% elsif competition.competition_type_id==4%>
            <%=link_to "RESULTADOS", jump_head2s_path(:competition_id=>competition.id, :start=>"0"), class: "btn btn-warning"%>
             <td><%= link_to "STARTLIST", jump_head2s_path(:competition_id=>competition.id, :start=>"1"), class: "btn btn-primary" %></td>
 <% elsif competition.competition_type_id==2 %>
            <%=link_to "RESULTADOS", hjump_head2s_path(:competition_id=>competition.id, :start=>"0"), class: "btn btn-warning"%> 
             <td><%= link_to "STARTLIST", hjump_head2s_path(:competition_id=>competition.id, :start=>"1"), class: "btn btn-primary" %></td>
          </tr>         
          <%end%>
         
  
   <%end%>

     </tbody>
      </table>
     
            </div>
            <!-- /.box-body -->
          </div>
</div>

<% end %>
  
<% end %>
<%= link_to "VOLVER", root_path(), class: "btn btn-warning" %><br/>
</div>



