<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_female100mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_female100mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_female100mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_female100mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_female100mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_female100mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_female100mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_female100mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_female100mt.country %>
</p>

<p>
  <strong>Female100mtshead:</strong>
  <%= @start_female100mt.female100mtsHead_id %>
</p>

<%= link_to 'Edit', edit_start_female100mt_path(@start_female100mt) %> |
<%= link_to 'Back', start_female100mts_path %>
