<p id="notice"><%= notice %></p>

<h1>Female100mts Heads</h1>

<table>
  <thead>
    <tr>
      <th>Championship</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @female100mts_heads.each do |female100mts_head| %>
      <tr>
        <td><%= female100mts_head.championship_id %></td>
        <td><%= female100mts_head.fecha %></td>
        <td><%= female100mts_head.hora %></td>
        <td><%= link_to 'Show', female100mts_head %></td>
        <td><%= link_to 'Edit', edit_female100mts_head_path(female100mts_head) %></td>
        <td><%= link_to 'Destroy', female100mts_head, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Female100mts Head', new_female100mts_head_path %>
