<p id="notice"><%= notice %></p>

<p>
  <strong>Championship:</strong>
  <%= @malejump_head.championship_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @malejump_head.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @malejump_head.hora %>
</p>

<%= link_to 'Edit', edit_malejump_head_path(@malejump_head) %> |
<%= link_to 'Back', malejump_heads_path %>
