<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_male110mtshudrle.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_male110mtshudrle.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_male110mtshudrle.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_male110mtshudrle.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_male110mtshudrle.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_male110mtshudrle.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_male110mtshudrle.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_male110mtshudrle.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_male110mtshudrle.country %>
</p>

<p>
  <strong>Male110mtshudrlestart:</strong>
  <%= @start_male110mtshudrle.male110mtshudrleStart_id %>
</p>

<%= link_to 'Edit', edit_start_male110mtshudrle_path(@start_male110mtshudrle) %> |
<%= link_to 'Back', start_male110mtshudrles_path %>
