<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_female_javelin.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_female_javelin.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_female_javelin.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_female_javelin.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_female_javelin.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_female_javelin.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_female_javelin.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_female_javelin.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_female_javelin.country %>
</p>

<p>
  <strong>Femalejavelinhead:</strong>
  <%= @start_female_javelin.femaleJavelinHead_id %>
</p>

<%= link_to 'Edit', edit_start_female_javelin_path(@start_female_javelin) %> |
<%= link_to 'Back', start_female_javelins_path %>
