<p id="notice"><%= notice %></p>

<h1>Start Female Jumps</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Achievement</th>
      <th>Rail</th>
      <th>Number</th>
      <th>Athlete</th>
      <th>An</th>
      <th>Club</th>
      <th>Region</th>
      <th>Country</th>
      <th>Femalejumphead</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @start_female_jumps.each do |start_female_jump| %>
      <tr>
        <td><%= start_female_jump.place %></td>
        <td><%= start_female_jump.achievement %></td>
        <td><%= start_female_jump.rail %></td>
        <td><%= start_female_jump.number %></td>
        <td><%= start_female_jump.athlete %></td>
        <td><%= start_female_jump.an %></td>
        <td><%= start_female_jump.club %></td>
        <td><%= start_female_jump.region %></td>
        <td><%= start_female_jump.country %></td>
        <td><%= start_female_jump.femaleJumpHead_id %></td>
        <td><%= link_to 'Show', start_female_jump %></td>
        <td><%= link_to 'Edit', edit_start_female_jump_path(start_female_jump) %></td>
        <td><%= link_to 'Destroy', start_female_jump, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Start Female Jump', new_start_female_jump_path %>
