<p id="notice"><%= notice %></p>

<p>
  <strong>Lugar:</strong>
  <%= @serie_detalle.lugar %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @serie_detalle.marca %>
</p>

<p>
  <strong>Pista:</strong>
  <%= @serie_detalle.pista %>
</p>

<p>
  <strong>Atleta:</strong>
  <%= @serie_detalle.atleta %>
</p>

<p>
  <strong>An:</strong>
  <%= @serie_detalle.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @serie_detalle.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @serie_detalle.region %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @serie_detalle.pais %>
</p>

<%= link_to 'Edit', edit_serie_detalle_path(@serie_detalle) %> |
<%= link_to 'Back', serie_detalles_path %>
