<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @female4x100mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @female4x100mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @female4x100mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @female4x100mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @female4x100mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @female4x100mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @female4x100mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @female4x100mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @female4x100mt.country %>
</p>

<p>
  <strong>Female4x100mts:</strong>
  <%= @female4x100mt.female4x100mts_id %>
</p>

<%= link_to 'Edit', edit_female4x100mt_path(@female4x100mt) %> |
<%= link_to 'Back', female4x100mts_path %>
