<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_female3000mtsobstacle.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_female3000mtsobstacle.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_female3000mtsobstacle.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_female3000mtsobstacle.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_female3000mtsobstacle.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_female3000mtsobstacle.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_female3000mtsobstacle.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_female3000mtsobstacle.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_female3000mtsobstacle.country %>
</p>

<p>
  <strong>Female3000mtsobstaclestart:</strong>
  <%= @start_female3000mtsobstacle.female3000mtsobstacleStart_id %>
</p>

<%= link_to 'Edit', edit_start_female3000mtsobstacle_path(@start_female3000mtsobstacle) %> |
<%= link_to 'Back', start_female3000mtsobstacles_path %>
