<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_male400mtshudrle.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_male400mtshudrle.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_male400mtshudrle.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_male400mtshudrle.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_male400mtshudrle.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_male400mtshudrle.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_male400mtshudrle.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_male400mtshudrle.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_male400mtshudrle.country %>
</p>

<p>
  <strong>Male400mtshudrlestart:</strong>
  <%= @start_male400mtshudrle.male400mtshudrleStart_id %>
</p>

<%= link_to 'Edit', edit_start_male400mtshudrle_path(@start_male400mtshudrle) %> |
<%= link_to 'Back', start_male400mtshudrles_path %>
