<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @male4x400mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @male4x400mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @male4x400mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @male4x400mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @male4x400mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @male4x400mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @male4x400mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @male4x400mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @male4x400mt.country %>
</p>

<p>
  <strong>Male4x400mthead:</strong>
  <%= @male4x400mt.male4x400mtHead_id %>
</p>

<%= link_to 'Edit', edit_male4x400mt_path(@male4x400mt) %> |
<%= link_to 'Back', male4x400mts_path %>
