<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_male_triple_jump.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_male_triple_jump.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_male_triple_jump.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_male_triple_jump.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_male_triple_jump.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_male_triple_jump.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_male_triple_jump.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_male_triple_jump.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_male_triple_jump.country %>
</p>

<p>
  <strong>Maletriplejumpstart:</strong>
  <%= @start_male_triple_jump.maletriplejumpStart_id %>
</p>

<%= link_to 'Edit', edit_start_male_triple_jump_path(@start_male_triple_jump) %> |
<%= link_to 'Back', start_male_triple_jumps_path %>
