<p id="notice"><%= notice %></p>

<h1>Start Male100mts</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Achievement</th>
      <th>Rail</th>
      <th>Number</th>
      <th>Athlete</th>
      <th>An</th>
      <th>Club</th>
      <th>Region</th>
      <th>Country</th>
      <th>Male100mtshead</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @start_male100mts.each do |start_male100mt| %>
      <tr>
        <td><%= start_male100mt.place %></td>
        <td><%= start_male100mt.achievement %></td>
        <td><%= start_male100mt.rail %></td>
        <td><%= start_male100mt.number %></td>
        <td><%= start_male100mt.athlete %></td>
        <td><%= start_male100mt.an %></td>
        <td><%= start_male100mt.club %></td>
        <td><%= start_male100mt.region %></td>
        <td><%= start_male100mt.country %></td>
        <td><%= start_male100mt.male100mtsHead_id %></td>
        <td><%= link_to 'Show', start_male100mt %></td>
        <td><%= link_to 'Edit', edit_start_male100mt_path(start_male100mt) %></td>
        <td><%= link_to 'Destroy', start_male100mt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Start Male100mt', new_start_male100mt_path %>
