<p id="notice"><%= notice %></p>

<p>
  <strong>Hjump head2:</strong>
  <%= @hjump2.hjump_head2 %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @hjump2.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @hjump2.an %>
</p>

<p>
  <strong>Region:</strong>
  <%= @hjump2.region %>
</p>

<p>
  <strong>Club:</strong>
  <%= @hjump2.club %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @hjump2.achievement %>
</p>

<p>
  <strong>Place:</strong>
  <%= @hjump2.place %>
</p>

<%= link_to 'Edit', edit_hjump2_path(@hjump2) %> |
<%= link_to 'Back', hjump2s_path %>
