<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_male400mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_male400mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_male400mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_male400mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_male400mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_male400mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_male400mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_male400mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_male400mt.country %>
</p>

<p>
  <strong>Male400mtshead:</strong>
  <%= @start_male400mt.male400mtsHead_id %>
</p>

<%= link_to 'Edit', edit_start_male400mt_path(@start_male400mt) %> |
<%= link_to 'Back', start_male400mts_path %>
