<p id="notice"><%= notice %></p>

<h1>Female200mts Heads</h1>

<table>
  <thead>
    <tr>
      <th>Championship</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @female200mts_heads.each do |female200mts_head| %>
      <tr>
        <td><%= female200mts_head.championship_id %></td>
        <td><%= female200mts_head.fecha %></td>
        <td><%= female200mts_head.hora %></td>
        <td><%= link_to 'Show', female200mts_head %></td>
        <td><%= link_to 'Edit', edit_female200mts_head_path(female200mts_head) %></td>
        <td><%= link_to 'Destroy', female200mts_head, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Female200mts Head', new_female200mts_head_path %>
