<p id="notice"><%= notice %></p>

<p>
  <strong>Championship:</strong>
  <%= @female200mts_head.championship_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @female200mts_head.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @female200mts_head.hora %>
</p>

<%= link_to 'Edit', edit_female200mts_head_path(@female200mts_head) %> |
<%= link_to 'Back', female200mts_heads_path %>
