
<%= simple_form_for(@athlete) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   NOMBRES <%= f.input :names, label: false , required: true%>
    APELLIDOS<%= f.input :surnames ,label: false, required: true%>
    SEXO <%= f.association :sex, label: false, required: true%>
   FECHA DE NACIMIENTO <%= f.date_field :birthdate , class: 'form-control', label: false, required: true%>

    RUT<%= f.input :rut,label: false, required: true %>
   ASOCIACIÓN REGIONAL<%= f.association :region, label: false %>
    CLUB <%= f.association :club, label: false%>
 
   NÚMERO CELULAR <%= f.input :cellPhone,label: false%>
    EMAIL <%= f.input :mail,label: false %>
   
    TALLA <%= f.input :size ,label: false%>
    ESTATURA<%= f.input :height ,label: false %>
  </div>

  <div class="form-actions">
   <%= f.button :submit ,'GUARDAR',class: "btn btn-success"%>| <%= link_to "VOLVER", :back, class: "btn btn-warning" %>
  </div>
<% end %>
