
<%= simple_form_for(@athlete) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   NOMBRES <%= f.input :names, label: false , required: true%>
    APELLIDOS<%= f.input :surnames ,label: false, required: true%>
    SEXO <%= f.association :sex, label: false, required: true%>
   FECHA DE NACIMIENTO <%= f.date_field :birthdate , class: 'form-control', label: false, required: true%>

    RUT<%= f.input :rut,label: false, required: true %>
<%
cannot_select = {
  onfocus: "this.defaultIndex=this.selectedIndex;",
  onchange: "this.selectedIndex=this.defaultIndex;"
}
%>

<% if  user_signed_in? && getRegionNumber( current_user.email) !=nil && getRegionPermission(current_user.email) %> 
<% 
cannot_select = {
  onfocus: "this.defaultIndex=this.selectedIndex;",
  onchange: "this.selectedIndex=this.defaultIndex;"
} 
%>

   ASOCIACIÓN REGIONAL<%= f.association :region, readonly: true, input_html: {}.merge(cannot_select) , :selected => getRegionNumber( current_user.email), label: false %>
    CLUB <%= f.association :club, label: false, required: true,collection: Club.where(region_id: getRegionNumber( current_user.email))%>
<%elsif user_signed_in? && getAdminPermission(current_user.email)%>
   ASOCIACIÓN REGIONAL<%= f.association :region,label: false %>
    CLUB <%= f.association :club, label: false, required: true,collection: Club.where(region_id: getRegionNumber( current_user.email))%>

<%elsif user_signed_in? && getClubPermission(current_user.email)%>
ASOCIACIÓN REGIONAL<%= f.association :region, readonly: true, input_html: {}.merge(cannot_select) , :selected => getRegionNumber( current_user.email), label: false %>
    CLUB <%= f.association :club, label: false, required: true,collection: Club.where(id: getClubNumber( current_user.email))%>


<%end%>
   
 
   NÚMERO CELULAR <%= f.input :cellPhone,label: false, required: true,  :input_html => { :type => "number" }%>
    EMAIL <%= f.input :mail,label: false, required: true , :input_html => { :type => "email" }%>
   
    TALLA <%= f.input :size ,label: false, required: true%>
    ESTATURA<%= f.input :height ,label: false , required: true,  :input_html => { :type => "number"},  :input_html => { :step => "0.01"}%>
  </div>

  <div class="form-actions">
   <%= f.button :submit ,'GUARDAR',class: "btn btn-success"%> | <%= link_to "VOLVER", :back, class: "btn btn-warning" %>
  </div>
  <script type="text/javascript">
    $("#athlete_rut").inputmask({
  mask: "9[9.999.999]-[9|K|k]",
});

  </script>
<% end %>
