
<%= simple_form_for(@athlete) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :names %>
    <%= f.input :surnames %>
    <%= f.input :sex %>
    <%= f.input :birthdate %>
    <%= f.input :birthyear %>
    <%= f.input :rut %>
    <%= f.input :idClub %>
    <%= f.input :idRegion %>
    <%= f.input :cellPhone %>
    <%= f.input :mail %>
    <%= f.input :idCoach %>
    <%= f.input :size %>
    <%= f.input :height %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
