

    <!-- Main content -->
    <section class="content">

<div class="row">
<div class="col-md-12">
<div class="callout callout-warning ">

        <div class="input-group col-md-16"> <h4>PERFIL ATLETA</h4>
       <div class=" navbar-left col-md-6">
       </div>
      
      
      
</div>
    </div>

</div>
</div>

      <div class="row">

        <div class="col-md-6">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <table>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td>
              <%=image_tag("anielsen.png", alt:"cl", height:"50",  width:"50", class:"profile-user-img img-responsive img-circle")%>
              </td>
              <td>
              <%=image_tag("cl.png", alt:"cl", height:"50",  width:"50", class:"profile-user-img img-responsive img-circle")%>
              </td>
              </tr>
</table>
              <h3 class="profile-username text-center"><%=@athlete.names+" "+@athlete.surnames%></h3>

              <p class="text-muted text-center"><%=@athlete.idClub%></p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>N° Campeonatos</b> <a class="pull-right"><%=championshipsNumber(@athlete.rut)%></a>
                </li>
                <li class="list-group-item">
                  <b>N° Competencias</b> <a class="pull-right">
                    <%=competitionsNumber(@athlete.rut)%>
                  </a>
                </li>
                <li class="list-group-item">
                  <b>Podios</b> <a class="pull-right">8</a>
                </li>
              </ul>

            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->

          <!-- About Me Box -->
       
          <!-- /.box -->

        </div>
        <!-- /.col -->

<div class="col-md-4">
            <%= pie_chart Track2.group(:region).count %>
          </div>

      <div class="box box-primary">
      <div class="col-md-12">
        <table class="table table-hover">
                <tbody><tr class="table-info">
                  <th>LUGAR</th>
                  <th>MARCA</th>
                  <th>PISTA</th>
                  <th>CAMPEONATO</th>
                  <th>DISCIPLINA</th>
                  <th>FECHA</th>
                   <th>ELIMINAR</th>
                </tr>
               
     
  <tr>


        <td><span data-bip-type="input" data-bip-attribute="place" data-bip-object="track2" data-bip-original-content="1" data-bip-skip-blur="false" data-bip-url="/track2s/26" data-bip-value="1" class="best_in_place" id="best_in_place_track2_26_place">1</span></td>
        <td><span data-bip-type="input" data-bip-attribute="achievement" data-bip-object="track2" data-bip-original-content="13.27" data-bip-skip-blur="false" data-bip-url="/track2s/26" data-bip-value="13.27" class="best_in_place" id="best_in_place_track2_26_achievement">10.90</span></td>
        <td><span data-bip-type="input" data-bip-attribute="rail" data-bip-object="track2" data-bip-original-content="4" data-bip-skip-blur="false" data-bip-url="/track2s/26" data-bip-value="4" class="best_in_place" id="best_in_place_track2_26_rail">4</span></td>
        <td><span data-bip-type="input" data-bip-attribute="athlete" data-bip-object="track2" data-bip-original-content="Victoria Rios Castro" data-bip-skip-blur="false" data-bip-url="/track2s/26" data-bip-value="Victoria Rios Castro" class="best_in_place" id="best_in_place_track2_26_athlete">Campeonato 1</span></td>
        <td><span data-bip-type="input" data-bip-attribute="club" data-bip-object="track2" data-bip-original-content="A. Santiago" data-bip-skip-blur="false" data-bip-url="/track2s/26" data-bip-value="A. Santiago" class="best_in_place" id="best_in_place_track2_26_club">100 MTS PLANOS</span></td>
        <td><span data-bip-type="input" data-bip-attribute="region" data-bip-object="track2" data-bip-original-content="13" data-bip-skip-blur="false" data-bip-url="/track2s/26" data-bip-value="13" class="best_in_place" id="best_in_place_track2_26_region">12-04-2017</span></td>
        <td><a data-confirm="Está seguro?" class="" rel="nofollow" data-method="delete" href="/track2s/26"><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></a></td>
      </tr>

               
     
  <tr>


        <td><span data-bip-type="input" data-bip-attribute="place" data-bip-object="track2" data-bip-original-content="2" data-bip-skip-blur="false" data-bip-url="/track2s/27" data-bip-value="2" class="best_in_place" id="best_in_place_track2_27_place">2</span></td>
        <td><span data-bip-type="input" data-bip-attribute="achievement" data-bip-object="track2" data-bip-original-content="13.82" data-bip-skip-blur="false" data-bip-url="/track2s/27" data-bip-value="13.82" class="best_in_place" id="best_in_place_track2_27_achievement">11.03</span></td>
        <td><span data-bip-type="input" data-bip-attribute="rail" data-bip-object="track2" data-bip-original-content="5" data-bip-skip-blur="false" data-bip-url="/track2s/27" data-bip-value="5" class="best_in_place" id="best_in_place_track2_27_rail">3</span></td>
        <td><span data-bip-type="input" data-bip-attribute="athlete" data-bip-object="track2" data-bip-original-content="Renata Álvarez Parraguez" data-bip-skip-blur="false" data-bip-url="/track2s/27" data-bip-value="Renata Álvarez Parraguez" class="best_in_place" id="best_in_place_track2_27_athlete">Campeonato 2</span></td>
        <td><span data-bip-type="input" data-bip-attribute="club" data-bip-object="track2" data-bip-original-content="A. Francés" data-bip-skip-blur="false" data-bip-url="/track2s/27" data-bip-value="A. Francés" class="best_in_place" id="best_in_place_track2_27_club">100 MTS PLANOS</span></td>
        <td><span data-bip-type="input" data-bip-attribute="region" data-bip-object="track2" data-bip-original-content="13" data-bip-skip-blur="false" data-bip-url="/track2s/27" data-bip-value="13" class="best_in_place" id="best_in_place_track2_27_region">10-08-2017</span></td>
        <td><a data-confirm="Está seguro?" class="" rel="nofollow" data-method="delete" href="/track2s/27"><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></a></td>
      </tr>

               
     
  <tr>


        <td><span data-bip-type="input" data-bip-attribute="place" data-bip-object="track2" data-bip-original-content="3" data-bip-skip-blur="false" data-bip-url="/track2s/28" data-bip-value="3" class="best_in_place" id="best_in_place_track2_28_place">1</span></td>
        <td><span data-bip-type="input" data-bip-attribute="achievement" data-bip-object="track2" data-bip-original-content="14.54" data-bip-skip-blur="false" data-bip-url="/track2s/28" data-bip-value="14.54" class="best_in_place" id="best_in_place_track2_28_achievement">11.5</span></td>
        <td><span data-bip-type="input" data-bip-attribute="rail" data-bip-object="track2" data-bip-original-content="6" data-bip-skip-blur="false" data-bip-url="/track2s/28" data-bip-value="6" class="best_in_place" id="best_in_place_track2_28_rail">4</span></td>
        <td><span data-bip-type="input" data-bip-attribute="athlete" data-bip-object="track2" data-bip-original-content="Claudia Retamales Nuñez" data-bip-skip-blur="false" data-bip-url="/track2s/28" data-bip-value="Claudia Retamales Nuñez" class="best_in_place" id="best_in_place_track2_28_athlete">Campeonato 3</span></td>
        <td><span data-bip-type="input" data-bip-attribute="club" data-bip-object="track2" data-bip-original-content="OASSI" data-bip-skip-blur="false" data-bip-url="/track2s/28" data-bip-value="OASSI" class="best_in_place" id="best_in_place_track2_28_club">100 MTS PLANOS</span></td>
        <td><span data-bip-type="input" data-bip-attribute="region" data-bip-object="track2" data-bip-original-content="13" data-bip-skip-blur="false" data-bip-url="/track2s/28" data-bip-value="13" class="best_in_place" id="best_in_place_track2_28_region">20-11-2017</span></td>
        <td><a data-confirm="Está seguro?" class="" rel="nofollow" data-method="delete" href="/track2s/28"><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></a></td>
      </tr>

               
     
  <tr>


        <td><span data-bip-type="input" data-bip-attribute="place" data-bip-object="track2" data-bip-original-content="4" data-bip-skip-blur="false" data-bip-url="/track2s/29" data-bip-value="4" class="best_in_place" id="best_in_place_track2_29_place">4</span></td>
        <td><span data-bip-type="input" data-bip-attribute="achievement" data-bip-object="track2" data-bip-original-content="14.67" data-bip-skip-blur="false" data-bip-url="/track2s/29" data-bip-value="14.67" class="best_in_place" id="best_in_place_track2_29_achievement">12.03</span></td>
        <td><span data-bip-type="input" data-bip-attribute="rail" data-bip-object="track2" data-bip-original-content="2" data-bip-skip-blur="false" data-bip-url="/track2s/29" data-bip-value="2" class="best_in_place" id="best_in_place_track2_29_rail">5</span></td>
        <td><span data-bip-type="input" data-bip-attribute="athlete" data-bip-object="track2" data-bip-original-content="Catalina Andrea Leiva  Bascur" data-bip-skip-blur="false" data-bip-url="/track2s/29" data-bip-value="Catalina Andrea Leiva  Bascur" class="best_in_place" id="best_in_place_track2_29_athlete">Campeonato 4</span></td>
        <td><span data-bip-type="input" data-bip-attribute="club" data-bip-object="track2" data-bip-original-content="C. D. A. Coronel" data-bip-skip-blur="false" data-bip-url="/track2s/29" data-bip-value="C. D. A. Coronel" class="best_in_place" id="best_in_place_track2_29_club">100 MTS PLANOS</span></td>
        <td><span data-bip-type="input" data-bip-attribute="region" data-bip-object="track2" data-bip-original-content="8" data-bip-skip-blur="false" data-bip-url="/track2s/29" data-bip-value="8" class="best_in_place" id="best_in_place_track2_29_region">04-04-2018</span></td>
        <td><a data-confirm="Está seguro?" class="" rel="nofollow" data-method="delete" href="/track2s/29"><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></a></td>
      </tr>

               
     
  <tr>


        <td><span data-bip-type="input" data-bip-attribute="place" data-bip-object="track2" data-bip-original-content="5" data-bip-skip-blur="false" data-bip-url="/track2s/30" data-bip-value="5" class="best_in_place" id="best_in_place_track2_30_place">2</span></td>
        <td><span data-bip-type="input" data-bip-attribute="achievement" data-bip-object="track2" data-bip-original-content="14.76" data-bip-skip-blur="false" data-bip-url="/track2s/30" data-bip-value="14.76" class="best_in_place" id="best_in_place_track2_30_achievement">11.1</span></td>
        <td><span data-bip-type="input" data-bip-attribute="rail" data-bip-object="track2" data-bip-original-content="7" data-bip-skip-blur="false" data-bip-url="/track2s/30" data-bip-value="7" class="best_in_place" id="best_in_place_track2_30_rail">4</span></td>
        <td><span data-bip-type="input" data-bip-attribute="athlete" data-bip-object="track2" data-bip-original-content="Amanda Hunt Cid" data-bip-skip-blur="false" data-bip-url="/track2s/30" data-bip-value="Amanda Hunt Cid" class="best_in_place" id="best_in_place_track2_30_athlete">Campeonato 5</span></td>
        <td><span data-bip-type="input" data-bip-attribute="club" data-bip-object="track2" data-bip-original-content="OASSI" data-bip-skip-blur="false" data-bip-url="/track2s/30" data-bip-value="OASSI" class="best_in_place" id="best_in_place_track2_30_club">100 MTS PLANOS</span></td>
        <td><span data-bip-type="input" data-bip-attribute="region" data-bip-object="track2" data-bip-original-content="13" data-bip-skip-blur="false" data-bip-url="/track2s/30" data-bip-value="13" class="best_in_place" id="best_in_place_track2_30_region">02-06-2018</span></td>
        <td><a data-confirm="Está seguro?" class="" rel="nofollow" data-method="delete" href="/track2s/30"><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></a></td>
      </tr>

               
    

              </tbody></table>
      </div>
    </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>

<%= line_chart Track2.where(:athlete=>'JASON ROMERO SOTO').group(:track_head2_id).count %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @athlete.names %>
</p>

<p>
  <strong>Surnames:</strong>
  <%= @athlete.surnames %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @athlete.sex %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @athlete.birthdate %>
</p>

<p>
  <strong>Birthyear:</strong>
  <%= @athlete.birthyear %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @athlete.rut %>
</p>

<p>
  <strong>Idclub:</strong>
  <%= @athlete.idClub %>
</p>

<p>
  <strong>Idregion:</strong>
  <%= @athlete.idRegion %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @athlete.cellPhone %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @athlete.mail %>
</p>

<p>
  <strong>Idcoach:</strong>
  <%= @athlete.idCoach %>
</p>

<p>
  <strong>Size:</strong>
  <%= @athlete.size %>
</p>

<p>
  <strong>Height:</strong>
  <%= @athlete.height %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
