<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @athlete.names %>
</p>

<p>
  <strong>Surnames:</strong>
  <%= @athlete.surnames %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @athlete.sex %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @athlete.birthdate %>
</p>

<p>
  <strong>Birthyear:</strong>
  <%= @athlete.birthyear %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @athlete.rut %>
</p>

<p>
  <strong>Idclub:</strong>
  <%= @athlete.idClub %>
</p>

<p>
  <strong>Idregion:</strong>
  <%= @athlete.idRegion %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @athlete.cellPhone %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @athlete.mail %>
</p>

<p>
  <strong>Idcoach:</strong>
  <%= @athlete.idCoach %>
</p>

<p>
  <strong>Size:</strong>
  <%= @athlete.size %>
</p>

<p>
  <strong>Height:</strong>
  <%= @athlete.height %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
