

    <!-- Main content -->
    <section class="content">

<div class="row">
<div class="col-md-12">
<div class="callout callout-warning ">

        <div class="input-group col-md-16"> <h4>PERFIL ATLETA</h4>
       <div class=" navbar-left col-md-6">
       </div>
      
      
      
</div>
    </div>

</div>
</div>

      <div class="row">

        <div class="col-md-6">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <table>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td>
              <%=image_tag("anielsen.png", alt:"cl", height:"50",  width:"50", class:"profile-user-img img-responsive img-circle")%>
              </td>
              <td>
              <%=image_tag("cl.png", alt:"cl", height:"50",  width:"50", class:"profile-user-img img-responsive img-circle")%>
              </td>
              </tr>
</table>
              <h3 class="profile-username text-center"><%=@athlete.names+" "+@athlete.surnames%></h3>

              <p class="text-muted text-center"><%=@athlete.idClub%></p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>N° Campeonatos</b> <a class="pull-right"><%=championshipsNumber(@athlete.rut)%></a>
                </li>
                <li class="list-group-item">
                  <b>N° Competencias</b> <a class="pull-right">
                    <%=competitionsNumber(@athlete.rut)%>
                  </a>
                </li>
                <li class="list-group-item">
                  <b>Podios</b> <a class="pull-right">8</a>
                </li>
              </ul>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
       
          <!-- /.box -->
        </div>
        <!-- /.col -->


<div class="col-md-6">
  <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Progreso- 100 mts planos</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body chart-responsive">
              <div class="chart" id="revenue-chart" style="height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg height="300" version="1.1" width="564" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="51.515625" y="261" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,261H539" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="51.515625" y="202" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10,5</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,202H539" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="51.515625" y="143" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">11,0</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,143H539" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="51.515625" y="84.00000000000003" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.000000000000028" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">11,5</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,84.00000000000003H539" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="51.515625" y="25.00000000000003" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4.000000000000028" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">12,0</tspan></text><path fill="none" stroke="#aaaaaa" d="M64.015625,25.00000000000003H539" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="451.832564199109" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2018</tspan></text><text x="240.61083838530857" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2017</tspan></text><path fill="#74a5c2" stroke="none" d="M64.015625,219.05493333333334C77.2951329782185,219.56626666666668,103.85414893465548,222.62413984752416,117.13365691287399,221.10026666666667C130.40114179649927,219.5777731808575,156.93611156374982,209.1350720412966,170.2035964473751,206.86946666666668C183.3328157431783,204.6274720412966,209.5912543347846,204.88215,222.72047363058778,203.06986666666666C235.84969292639096,201.25758333333332,262.10813151799726,194.91233926701568,275.23735081380045,192.3712C288.5168587920189,189.80097260034904,315.07587474845593,182.51719240057355,328.3553827266744,182.6244C341.6288791575963,182.73155906724023,368.1758720194401,204.18306539133076,381.449368450362,193.22866666666667C394.57257619886855,182.3982987246641,420.81899169588166,101.94248279990792,433.9421994443882,95.48533333333336C446.9271416050727,89.09621613324126,472.8970259264416,135.13955788509958,485.88196808712604,141.8436C499.1614760653445,148.69972455176622,525.7204920217815,147.7554,539,149.726L539,261L64.015625,261Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#3c8dbc" d="M64.015625,219.05493333333334C77.2951329782185,219.56626666666668,103.85414893465548,222.62413984752416,117.13365691287399,221.10026666666667C130.40114179649927,219.5777731808575,156.93611156374982,209.1350720412966,170.2035964473751,206.86946666666668C183.3328157431783,204.6274720412966,209.5912543347846,204.88215,222.72047363058778,203.06986666666666C235.84969292639096,201.25758333333332,262.10813151799726,194.91233926701568,275.23735081380045,192.3712C288.5168587920189,189.80097260034904,315.07587474845593,182.51719240057355,328.3553827266744,182.6244C341.6288791575963,182.73155906724023,368.1758720194401,204.18306539133076,381.449368450362,193.22866666666667C394.57257619886855,182.3982987246641,420.81899169588166,101.94248279990792,433.9421994443882,95.48533333333336C446.9271416050727,89.09621613324126,472.8970259264416,135.13955788509958,485.88196808712604,141.8436C499.1614760653445,148.69972455176622,525.7204920217815,147.7554,539,149.726" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="64.015625" cy="219.05493333333334" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="117.13365691287399" cy="221.10026666666667" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="170.2035964473751" cy="206.86946666666668" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="222.72047363058778" cy="203.06986666666666" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="275.23735081380045" cy="192.3712" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="328.3553827266744" cy="182.6244" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="381.449368450362" cy="193.22866666666667" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="433.9421994443882" cy="95.48533333333336" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="485.88196808712604" cy="141.8436" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="539" cy="149.726" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#eaf3f6" stroke="none" d="M64.015625,240.02746666666667C77.2951329782185,239.8072,103.85414893465548,241.35596692330918,117.13365691287399,239.1464C130.40114179649927,236.93883358997584,156.93611156374982,223.3365440294542,170.2035964473751,222.35893333333334C183.3328157431783,221.39151069612086,209.5912543347846,233.23263333333333,222.72047363058778,231.36626666666666C235.84969292639096,229.4999,262.10813151799726,209.28863409970407,275.23735081380045,207.428C288.5168587920189,205.54606743303742,315.07587474845593,214.4387236434986,328.3553827266744,216.39600000000002C341.6288791575963,218.35239031016528,368.1758720194401,232.38159338039932,381.449368450362,223.08266666666668C394.57257619886855,213.88902671373265,420.81899169588166,148.22550307007447,433.9421994443882,142.42573333333334C446.9271416050727,136.68706973674114,472.8970259264416,170.47185665674832,485.88196808712604,176.92893333333336C499.1614760653445,183.53248999008167,525.7204920217815,190.23343333333335,539,194.66826666666668L539,261L64.015625,261Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#a0d0e0" d="M64.015625,240.02746666666667C77.2951329782185,239.8072,103.85414893465548,241.35596692330918,117.13365691287399,239.1464C130.40114179649927,236.93883358997584,156.93611156374982,223.3365440294542,170.2035964473751,222.35893333333334C183.3328157431783,221.39151069612086,209.5912543347846,233.23263333333333,222.72047363058778,231.36626666666666C235.84969292639096,229.4999,262.10813151799726,209.28863409970407,275.23735081380045,207.428C288.5168587920189,205.54606743303742,315.07587474845593,214.4387236434986,328.3553827266744,216.39600000000002C341.6288791575963,218.35239031016528,368.1758720194401,232.38159338039932,381.449368450362,223.08266666666668C394.57257619886855,213.88902671373265,420.81899169588166,148.22550307007447,433.9421994443882,142.42573333333334C446.9271416050727,136.68706973674114,472.8970259264416,170.47185665674832,485.88196808712604,176.92893333333336C499.1614760653445,183.53248999008167,525.7204920217815,190.23343333333335,539,194.66826666666668" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="64.015625" cy="240.02746666666667" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="117.13365691287399" cy="239.1464" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="170.2035964473751" cy="222.35893333333334" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="222.72047363058778" cy="231.36626666666666" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="275.23735081380045" cy="207.428" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="328.3553827266744" cy="216.39600000000002" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="381.449368450362" cy="223.08266666666668" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="433.9421994443882" cy="142.42573333333334" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="485.88196808712604" cy="176.92893333333336" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="539" cy="194.66826666666668" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg><div class="morris-hover morris-default-style" style="left: 150.962px; top: 145px; display: none;"><div class="morris-hover-row-label">2011 Q4</div><div class="morris-hover-point" style="color: #a0d0e0">
  Item 1:
  3,767
</div><div class="morris-hover-point" style="color: #3c8dbc">
  Item 2:
  3,597
</div></div></div>
            </div>
            <!-- /.box-body -->
          </div>

</div>
  <div class="col-md-6">
 <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Comparativo</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body chart-responsive">
              <div class="chart" id="bar-chart" style="height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg height="300" version="1.1" width="564" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="34.84375" y="261" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#aaaaaa" d="M47.34375,261H539" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="34.84375" y="202" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">1</tspan></text><path fill="none" stroke="#aaaaaa" d="M47.34375,202H539" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="34.84375" y="143" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2</tspan></text><path fill="none" stroke="#aaaaaa" d="M47.34375,143H539" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="34.84375" y="84" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">3</tspan></text><path fill="none" stroke="#aaaaaa" d="M47.34375,84H539" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="34.84375" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">4</tspan></text><path fill="none" stroke="#aaaaaa" d="M47.34375,25H539" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="503.88169642857144" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text><text x="363.40848214285717" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2018</tspan></text><text x="222.93526785714286" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2017</tspan></text><text x="82.46205357142857" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2016</tspan></text><rect x="56.12332589285714" y="25" width="24.838727678571427" height="236" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="83.96205357142857" y="48.60000000000002" width="24.838727678571427" height="212.39999999999998" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="126.35993303571428" y="84" width="24.838727678571427" height="177" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="154.1986607142857" y="107.6" width="24.838727678571427" height="153.4" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="196.59654017857142" y="143" width="24.838727678571427" height="118" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="224.43526785714283" y="166.60000000000002" width="24.838727678571427" height="94.39999999999998" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="266.8331473214286" y="84" width="24.838727678571427" height="177" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="294.67187500000006" y="107.6" width="24.838727678571427" height="153.4" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="337.0697544642857" y="143" width="24.838727678571427" height="118" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="364.90848214285717" y="166.60000000000002" width="24.838727678571427" height="94.39999999999998" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="407.30636160714283" y="84" width="24.838727678571427" height="177" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="435.1450892857143" y="107.6" width="24.838727678571427" height="153.4" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="477.54296875" y="25" width="24.838727678571427" height="236" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="505.38169642857144" y="48.60000000000002" width="24.838727678571427" height="212.39999999999998" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect></svg><div class="morris-hover morris-default-style" style="left: 401.637px; top: 112px; display: none;"><div class="morris-hover-row-label">2011</div><div class="morris-hover-point" style="color: #00a65a">
  CPU:
  75
</div><div class="morris-hover-point" style="color: #f56954">
  DISK:
  65
</div></div></div>
            </div>
            <!-- /.box-body -->
          </div>
</div>
        <!-- /.col -->
      </div>
      <div class="box box-primary">
      <div class="col-md-12">
        <table class="table table-hover">
                <tbody><tr class="table-info">
                  <th>LUGAR</th>
                  <th>MARCA</th>
                  <th>PISTA</th>
                  <th>CAMPEONATO</th>
                  <th>DISCIPLINA</th>
                  <th>FECHA</th>
                   <th>ELIMINAR</th>
                </tr>
               
     
  <tr>


        <td><span data-bip-type="input" data-bip-attribute="place" data-bip-object="track2" data-bip-original-content="1" data-bip-skip-blur="false" data-bip-url="/track2s/26" data-bip-value="1" class="best_in_place" id="best_in_place_track2_26_place">1</span></td>
        <td><span data-bip-type="input" data-bip-attribute="achievement" data-bip-object="track2" data-bip-original-content="13.27" data-bip-skip-blur="false" data-bip-url="/track2s/26" data-bip-value="13.27" class="best_in_place" id="best_in_place_track2_26_achievement">10.90</span></td>
        <td><span data-bip-type="input" data-bip-attribute="rail" data-bip-object="track2" data-bip-original-content="4" data-bip-skip-blur="false" data-bip-url="/track2s/26" data-bip-value="4" class="best_in_place" id="best_in_place_track2_26_rail">4</span></td>
        <td><span data-bip-type="input" data-bip-attribute="athlete" data-bip-object="track2" data-bip-original-content="Victoria Rios Castro" data-bip-skip-blur="false" data-bip-url="/track2s/26" data-bip-value="Victoria Rios Castro" class="best_in_place" id="best_in_place_track2_26_athlete">Campeonato 1</span></td>
        <td><span data-bip-type="input" data-bip-attribute="club" data-bip-object="track2" data-bip-original-content="A. Santiago" data-bip-skip-blur="false" data-bip-url="/track2s/26" data-bip-value="A. Santiago" class="best_in_place" id="best_in_place_track2_26_club">100 MTS PLANOS</span></td>
        <td><span data-bip-type="input" data-bip-attribute="region" data-bip-object="track2" data-bip-original-content="13" data-bip-skip-blur="false" data-bip-url="/track2s/26" data-bip-value="13" class="best_in_place" id="best_in_place_track2_26_region">12-04-2017</span></td>
        <td><a data-confirm="Está seguro?" class="" rel="nofollow" data-method="delete" href="/track2s/26"><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></a></td>
      </tr>

               
     
  <tr>


        <td><span data-bip-type="input" data-bip-attribute="place" data-bip-object="track2" data-bip-original-content="2" data-bip-skip-blur="false" data-bip-url="/track2s/27" data-bip-value="2" class="best_in_place" id="best_in_place_track2_27_place">2</span></td>
        <td><span data-bip-type="input" data-bip-attribute="achievement" data-bip-object="track2" data-bip-original-content="13.82" data-bip-skip-blur="false" data-bip-url="/track2s/27" data-bip-value="13.82" class="best_in_place" id="best_in_place_track2_27_achievement">11.03</span></td>
        <td><span data-bip-type="input" data-bip-attribute="rail" data-bip-object="track2" data-bip-original-content="5" data-bip-skip-blur="false" data-bip-url="/track2s/27" data-bip-value="5" class="best_in_place" id="best_in_place_track2_27_rail">3</span></td>
        <td><span data-bip-type="input" data-bip-attribute="athlete" data-bip-object="track2" data-bip-original-content="Renata Álvarez Parraguez" data-bip-skip-blur="false" data-bip-url="/track2s/27" data-bip-value="Renata Álvarez Parraguez" class="best_in_place" id="best_in_place_track2_27_athlete">Campeonato 2</span></td>
        <td><span data-bip-type="input" data-bip-attribute="club" data-bip-object="track2" data-bip-original-content="A. Francés" data-bip-skip-blur="false" data-bip-url="/track2s/27" data-bip-value="A. Francés" class="best_in_place" id="best_in_place_track2_27_club">100 MTS PLANOS</span></td>
        <td><span data-bip-type="input" data-bip-attribute="region" data-bip-object="track2" data-bip-original-content="13" data-bip-skip-blur="false" data-bip-url="/track2s/27" data-bip-value="13" class="best_in_place" id="best_in_place_track2_27_region">10-08-2017</span></td>
        <td><a data-confirm="Está seguro?" class="" rel="nofollow" data-method="delete" href="/track2s/27"><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></a></td>
      </tr>

               
     
  <tr>


        <td><span data-bip-type="input" data-bip-attribute="place" data-bip-object="track2" data-bip-original-content="3" data-bip-skip-blur="false" data-bip-url="/track2s/28" data-bip-value="3" class="best_in_place" id="best_in_place_track2_28_place">1</span></td>
        <td><span data-bip-type="input" data-bip-attribute="achievement" data-bip-object="track2" data-bip-original-content="14.54" data-bip-skip-blur="false" data-bip-url="/track2s/28" data-bip-value="14.54" class="best_in_place" id="best_in_place_track2_28_achievement">11.5</span></td>
        <td><span data-bip-type="input" data-bip-attribute="rail" data-bip-object="track2" data-bip-original-content="6" data-bip-skip-blur="false" data-bip-url="/track2s/28" data-bip-value="6" class="best_in_place" id="best_in_place_track2_28_rail">4</span></td>
        <td><span data-bip-type="input" data-bip-attribute="athlete" data-bip-object="track2" data-bip-original-content="Claudia Retamales Nuñez" data-bip-skip-blur="false" data-bip-url="/track2s/28" data-bip-value="Claudia Retamales Nuñez" class="best_in_place" id="best_in_place_track2_28_athlete">Campeonato 3</span></td>
        <td><span data-bip-type="input" data-bip-attribute="club" data-bip-object="track2" data-bip-original-content="OASSI" data-bip-skip-blur="false" data-bip-url="/track2s/28" data-bip-value="OASSI" class="best_in_place" id="best_in_place_track2_28_club">100 MTS PLANOS</span></td>
        <td><span data-bip-type="input" data-bip-attribute="region" data-bip-object="track2" data-bip-original-content="13" data-bip-skip-blur="false" data-bip-url="/track2s/28" data-bip-value="13" class="best_in_place" id="best_in_place_track2_28_region">20-11-2017</span></td>
        <td><a data-confirm="Está seguro?" class="" rel="nofollow" data-method="delete" href="/track2s/28"><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></a></td>
      </tr>

               
     
  <tr>


        <td><span data-bip-type="input" data-bip-attribute="place" data-bip-object="track2" data-bip-original-content="4" data-bip-skip-blur="false" data-bip-url="/track2s/29" data-bip-value="4" class="best_in_place" id="best_in_place_track2_29_place">4</span></td>
        <td><span data-bip-type="input" data-bip-attribute="achievement" data-bip-object="track2" data-bip-original-content="14.67" data-bip-skip-blur="false" data-bip-url="/track2s/29" data-bip-value="14.67" class="best_in_place" id="best_in_place_track2_29_achievement">12.03</span></td>
        <td><span data-bip-type="input" data-bip-attribute="rail" data-bip-object="track2" data-bip-original-content="2" data-bip-skip-blur="false" data-bip-url="/track2s/29" data-bip-value="2" class="best_in_place" id="best_in_place_track2_29_rail">5</span></td>
        <td><span data-bip-type="input" data-bip-attribute="athlete" data-bip-object="track2" data-bip-original-content="Catalina Andrea Leiva  Bascur" data-bip-skip-blur="false" data-bip-url="/track2s/29" data-bip-value="Catalina Andrea Leiva  Bascur" class="best_in_place" id="best_in_place_track2_29_athlete">Campeonato 4</span></td>
        <td><span data-bip-type="input" data-bip-attribute="club" data-bip-object="track2" data-bip-original-content="C. D. A. Coronel" data-bip-skip-blur="false" data-bip-url="/track2s/29" data-bip-value="C. D. A. Coronel" class="best_in_place" id="best_in_place_track2_29_club">100 MTS PLANOS</span></td>
        <td><span data-bip-type="input" data-bip-attribute="region" data-bip-object="track2" data-bip-original-content="8" data-bip-skip-blur="false" data-bip-url="/track2s/29" data-bip-value="8" class="best_in_place" id="best_in_place_track2_29_region">04-04-2018</span></td>
        <td><a data-confirm="Está seguro?" class="" rel="nofollow" data-method="delete" href="/track2s/29"><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></a></td>
      </tr>

               
     
  <tr>


        <td><span data-bip-type="input" data-bip-attribute="place" data-bip-object="track2" data-bip-original-content="5" data-bip-skip-blur="false" data-bip-url="/track2s/30" data-bip-value="5" class="best_in_place" id="best_in_place_track2_30_place">2</span></td>
        <td><span data-bip-type="input" data-bip-attribute="achievement" data-bip-object="track2" data-bip-original-content="14.76" data-bip-skip-blur="false" data-bip-url="/track2s/30" data-bip-value="14.76" class="best_in_place" id="best_in_place_track2_30_achievement">11.1</span></td>
        <td><span data-bip-type="input" data-bip-attribute="rail" data-bip-object="track2" data-bip-original-content="7" data-bip-skip-blur="false" data-bip-url="/track2s/30" data-bip-value="7" class="best_in_place" id="best_in_place_track2_30_rail">4</span></td>
        <td><span data-bip-type="input" data-bip-attribute="athlete" data-bip-object="track2" data-bip-original-content="Amanda Hunt Cid" data-bip-skip-blur="false" data-bip-url="/track2s/30" data-bip-value="Amanda Hunt Cid" class="best_in_place" id="best_in_place_track2_30_athlete">Campeonato 5</span></td>
        <td><span data-bip-type="input" data-bip-attribute="club" data-bip-object="track2" data-bip-original-content="OASSI" data-bip-skip-blur="false" data-bip-url="/track2s/30" data-bip-value="OASSI" class="best_in_place" id="best_in_place_track2_30_club">100 MTS PLANOS</span></td>
        <td><span data-bip-type="input" data-bip-attribute="region" data-bip-object="track2" data-bip-original-content="13" data-bip-skip-blur="false" data-bip-url="/track2s/30" data-bip-value="13" class="best_in_place" id="best_in_place_track2_30_region">02-06-2018</span></td>
        <td><a data-confirm="Está seguro?" class="" rel="nofollow" data-method="delete" href="/track2s/30"><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></a></td>
      </tr>

               
    

              </tbody></table>
      </div>
    </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
 


<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @athlete.names %>
</p>

<p>
  <strong>Surnames:</strong>
  <%= @athlete.surnames %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @athlete.sex %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @athlete.birthdate %>
</p>

<p>
  <strong>Birthyear:</strong>
  <%= @athlete.birthyear %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @athlete.rut %>
</p>

<p>
  <strong>Idclub:</strong>
  <%= @athlete.idClub %>
</p>

<p>
  <strong>Idregion:</strong>
  <%= @athlete.idRegion %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @athlete.cellPhone %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @athlete.mail %>
</p>

<p>
  <strong>Idcoach:</strong>
  <%= @athlete.idCoach %>
</p>

<p>
  <strong>Size:</strong>
  <%= @athlete.size %>
</p>

<p>
  <strong>Height:</strong>
  <%= @athlete.height %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
