

    <!-- Main content -->
    <section class="content">

<div class="row">
<div class="col-md-12">
<div class="callout callout-warning ">

        <div class="input-group col-md-16"> <h4>PERFIL ATLETA</h4>
       <div class=" navbar-left col-md-6">
       </div>
      
      
      
</div>
    </div>

</div>
</div>

      <div class="row">

        <div class="col-md-6">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <table>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td>
              <%=image_tag("anielsen.png", alt:"cl", height:"50",  width:"50", class:"profile-user-img img-responsive img-circle")%>
              </td>
              <td>
              <%=image_tag("cl.png", alt:"cl", height:"50",  width:"50", class:"profile-user-img img-responsive img-circle")%>
              </td>
              </tr>
</table>
              <h3 class="profile-username text-center"><%=@athlete.names+" "+@athlete.surnames%></h3>

              <p class="text-muted text-center"><%=@athlete.idClub%></p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Fecha Nacimiento</b> <a class="pull-right"><%= @athlete.birthdate %></a>
                </li>
                <li class="list-group-item">
                  <b>País</b> <a class="pull-right">CHILE</a>
                </li>
                <li class="list-group-item">
                  <b>N° Campeonatos</b> <a class="pull-right"><%=championshipsNumber(@athlete.rut)%></a>
                </li>
                <li class="list-group-item">
                  <b>N° Competencias</b> <a class="pull-right">
                    <%=competitionsNumber(@athlete.rut)%>
                  </a>
                </li>
                <li class="list-group-item">
                  <b>Podios</b> <a class="pull-right"></a>
                </li>
              </ul>

            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->

          <!-- About Me Box -->
       
          <!-- /.box -->

        </div>
        <!-- /.col -->

<div class="col-md-4">
            <%= pie_chart Track2.group(:region).count %>
          </div>

      <div class="box box-primary">
      <div class="col-md-12">
        <table class="table table-hover">
                <tbody><tr class="table-info">
                  <th>LUGAR</th>
                  <th>MARCA</th>
                  <th>CAMPEONATO</th>
                  <th>DISCIPLINA</th>
                  <th>FECHA</th>
                </tr>
               
     
  <tr>

<%

  sqlCount = "select track2s.place, track2s.achievement, championships.name, sports.name, stages.fecha, championships.id, track_head2s.id, track_head2s.competition_id from track2s join athletes on track2s.athlete=concat(athletes.names, ' ', athletes.surnames) join track_head2s on track_head2s.id=track2s.track_head2_id join competitions on competitions.id=track_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where track2s.athlete='"+@athlete.names+" "+ @athlete.surnames+"';"   
  arrCount = ActiveRecord::Base.connection.execute(sqlCount)
  arrCount.each do |count|
    %>
    <tr>
      <td>
  <%=count[0]%>
</td>

<td>
  <%=count[1]%>
</td>
<td>
  <%=link_to count[2], Championship.where(:id=>count[5]).first %>
</td>
<td>
   <%=link_to count[3], track_head2s_path(:competition_id=>count[7], :start=> '0') %>
</td>
<td>
  <%=count[4]%>
</td>
</tr>
  <%
  end
  %>
              </tbody></table>
      </div>
    </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>


  <%
 
 sqlCount = "select stages.fecha,  track2s.achievement from track2s join athletes on track2s.athlete=concat(athletes.names, ' ', athletes.surnames) join track_head2s on track_head2s.id=track2s.track_head2_id join competitions on competitions.id=track_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where track2s.athlete='"+@athlete.names+" "+ @athlete.surnames+"' and sports.id=30;"   
  arrCount = ActiveRecord::Base.connection.execute(sqlCount)
  data=""
  data2=[]
  i=0
  arrCount.each do |count|
  
    data2[i]=count[0].to_s, count[1].to_f
   
 
    i=i+1
   end
 
  %>

<%= line_chart data2, xtitle: "Fechas", ytitle: "Marca" ,points: true %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @athlete.names %>
</p>

<p>
  <strong>Surnames:</strong>
  <%= @athlete.surnames %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @athlete.sex %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @athlete.birthdate %>
</p>

<p>
  <strong>Birthyear:</strong>
  <%= @athlete.birthyear %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @athlete.rut %>
</p>

<p>
  <strong>Idclub:</strong>
  <%= @athlete.idClub %>
</p>

<p>
  <strong>Idregion:</strong>
  <%= @athlete.idRegion %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @athlete.cellPhone %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @athlete.mail %>
</p>

<p>
  <strong>Idcoach:</strong>
  <%= @athlete.idCoach %>
</p>

<p>
  <strong>Size:</strong>
  <%= @athlete.size %>
</p>

<p>
  <strong>Height:</strong>
  <%= @athlete.height %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
