

    <!-- Main content -->
    <section class="content">

<div class="row">
<div class="col-md-12">
<div class="callout callout-warning ">

        <div class="input-group col-md-16"> <h4>PERFIL ATLETA</h4>
       <div class=" navbar-left col-md-6">
       </div>
      
      
      
</div>
    </div>

</div>
</div>

      <div class="row">

        <div class="col-md-6">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <table>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td>
              <%=image_tag("anielsen.png", alt:"cl", height:"50",  width:"50", class:"profile-user-img img-responsive img-circle")%>
              </td>
              <td>
              <%=image_tag("cl.png", alt:"cl", height:"50",  width:"50", class:"profile-user-img img-responsive img-circle")%>
              </td>
              </tr>
</table>
              <h3 class="profile-username text-center"><%=@athlete.names+" "+@athlete.surnames%></h3>

              <p class="text-muted text-center"><b><%=link_to  Club.where(:id => @athlete.club_id).first.name, club_path(@athlete.club_id) %></b></p>


              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Fecha Nacimiento</b> <a class="pull-right"><%= @athlete.birthdate %></a>
                </li>
                <li class="list-group-item">
                  <b>País</b> <a class="pull-right">CHILE</a>
                </li>
                <li class="list-group-item">
                  <b>N° Campeonatos</b> <a class="pull-right"><%=championshipsNumber(@athlete.rut)%></a>
                </li>
                <li class="list-group-item">
                  <b>N° Competencias</b> <a class="pull-right">
                    <%=competitionsNumber(@athlete.rut)%>
                  </a>
                </li>
               </ul>

            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->

          <!-- About Me Box -->
       
          <!-- /.box -->

        </div>
        <!-- /.col -->


  <%
 sqlCount = "select sports.name,count(sports.name) from track2s join athletes on track2s.athlete=concat(athletes.names, ' ', athletes.surnames) join track_head2s on track_head2s.id=track2s.track_head2_id join competitions on competitions.id=track_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where track2s.rut='"+@athlete.rut+"' group by sports.name
UNION
select sports.name,count(sports.name) from throw2s join athletes on throw2s.athlete=concat(athletes.names, ' ', athletes.surnames) join throw_head2s on throw_head2s.id=throw2s.throw_head2_id join competitions on competitions.id=throw_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where throw2s.rut='"+@athlete.rut+"' group by sports.name
 UNION
select  sports.name,count(sports.name) from jump2s join athletes on jump2s.athlete=concat(athletes.names, ' ', athletes.surnames) join jump_head2s on jump_head2s.id=jump2s.jump_head2_id join competitions on competitions.id=jump_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where jump2s.rut='"+@athlete.rut+"' group by sports.name
UNION
select  sports.name,count(sports.name) from hjump2s join athletes on hjump2s.athlete=concat(athletes.names, ' ', athletes.surnames) join hjump_head2s on hjump_head2s.id=hjump2s.hjump_head2_id join competitions on competitions.id=hjump_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where hjump2s.rut='"+@athlete.rut+"' group by sports.name
 "     
  arrCount = ActiveRecord::Base.connection.execute(sqlCount)
  data=""
  data2=[]
  i=0
  arrCount.each do |count|
  
    data2[i]=count[0].to_s, count[1].to_f
   
 
    i=i+1
   end
 
  %>

<div class="col-md-4">
<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL COMPETICIONES</b>
 <%= pie_chart data2 %>

          </div>
          


      <div class="box box-primary">
      <div class="col-md-12">
        <table class="table table-hover">
                <tbody><tr class="table-info">
                  <th>LUGAR</th>
                  <th>MARCA</th>
                  <th>CAMPEONATO</th>
                  <th>DISCIPLINA</th>
                  <th>FECHA</th>
                </tr>
               
     
  <tr>

<%

  sqlCount = "select track2s.place, track2s.achievement, championships.name, sports.name, stages.fecha, championships.id, track_head2s.id, track_head2s.competition_id, competitions.competition_type_id from track2s join athletes on track2s.athlete=concat(athletes.names, ' ', athletes.surnames) join track_head2s on track_head2s.id=track2s.track_head2_id join competitions on competitions.id=track_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where track2s.rut='"+@athlete.rut+"'
UNION
select throw2s.place, throw2s.achievement, championships.name, sports.name, stages.fecha, championships.id, throw_head2s.id, throw_head2s.competition_id , competitions.competition_type_id from throw2s join athletes on throw2s.athlete=concat(athletes.names, ' ', athletes.surnames) join throw_head2s on throw_head2s.id=throw2s.throw_head2_id join competitions on competitions.id=throw_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where throw2s.rut='"+@athlete.rut+"'
 UNION
 select jump2s.place, jump2s.achievement, championships.name, sports.name, stages.fecha, championships.id, jump_head2s.id, jump_head2s.competition_id   , competitions.competition_type_id from jump2s join athletes on jump2s.athlete=concat(athletes.names, ' ', athletes.surnames) join jump_head2s on jump_head2s.id=jump2s.jump_head2_id join competitions on competitions.id=jump_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where jump2s.rut='"+@athlete.rut+"'
 UNION
 select hjump2s.place, hjump2s.achievement, championships.name, sports.name, stages.fecha, championships.id, hjump_head2s.id, hjump_head2s.competition_id  , competitions.competition_type_id from hjump2s join athletes on hjump2s.athlete=concat(athletes.names, ' ', athletes.surnames) join hjump_head2s on hjump_head2s.id=hjump2s.hjump_head2_id join competitions on competitions.id=hjump_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where hjump2s.rut='"+@athlete.rut+"'
 "   
  arrCount = ActiveRecord::Base.connection.execute(sqlCount)
  arrCount.each do |count|
    %>
    <tr>
      <td>
  <%=count[0]%>
</td>

<td>
  <%=count[1]%>
</td>
<td>
  <%=link_to count[2], Championship.where(:id=>count[5]).first %>
</td>
<td>
  <%if count[8]==1 then%>
   <%=link_to count[3], track_head2s_path(:competition_id=>count[7], :start=> '0') %>
   <%
elsif count[8]==2 then%>
<%=link_to count[3], jump_head2s_path(:competition_id=>count[7], :start=> '0') %>
   <%
elsif count[8]==3 then%>
<%=link_to count[3], throw_head2s_path(:competition_id=>count[7], :start=> '0') %>
<%else%>
<%=link_to count[3], hjump_head2s_path(:competition_id=>count[7], :start=> '0') %>
  <% end%>
</td>
<td>
  <%=count[4]%>
</td>
</tr>
  <%
  end
  %>
              </tbody></table>
      </div>
    </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>


  <%
  sqlSport="select id from sports order by name asc;"
  arrSports= ActiveRecord::Base.connection.execute(sqlSport)
 
  arrSports.each do |s|
  
 sqlCount = "select stages.fecha,  track2s.achievement, sports.name from track2s join athletes on track2s.athlete=concat(athletes.names, ' ', athletes.surnames) join track_head2s on track_head2s.id=track2s.track_head2_id join competitions on competitions.id=track_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where track2s.rut='"+@athlete.rut+"' and sports.id="+s[0].to_s+"
 UNION
select stages.fecha,  throw2s.achievement, sports.name from throw2s join athletes on throw2s.athlete=concat(athletes.names, ' ', athletes.surnames) join throw_head2s on throw_head2s.id=throw2s.throw_head2_id join competitions on competitions.id=throw_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where throw2s.rut='"+@athlete.rut+"' and sports.id="+s[0].to_s+
 " UNION
 select stages.fecha,  jump2s.achievement, sports.name from jump2s join athletes on jump2s.athlete=concat(athletes.names, ' ', athletes.surnames) join jump_head2s on jump_head2s.id=jump2s.jump_head2_id join competitions on competitions.id=jump_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where jump2s.rut='"+@athlete.rut+"' and sports.id="+s[0].to_s+
 " UNION
 select stages.fecha,  hjump2s.achievement, sports.name from hjump2s join athletes on hjump2s.athlete=concat(athletes.names, ' ', athletes.surnames) join hjump_head2s on hjump_head2s.id=hjump2s.hjump_head2_id join competitions on competitions.id=hjump_head2s.competition_id join stages on stages.id=competitions.stage_id join championships on championships.id=stages.championship_id join sports on sports.id=competitions.sport_id 
 where hjump2s.rut='"+@athlete.rut+"' and sports.id="+s[0].to_s+""
  arrCount = ActiveRecord::Base.connection.execute(sqlCount)
  data=""
  sport=""
  data2=[]
  i=0
  arrCount.each do |count|
  sport=count[2]
    data2[i]=count[0].to_s, count[1].to_f
   
 
    i=i+1
   end
 
  %>
<%if i>0 %>
 <div class="box box-primary">
            <div class="box-body box-profile">
<div class="callout">
        <div class="input-group col-md-16"> <h5><b><%=sport %></b></h5>
        </div>
      </div>
 


<%= line_chart data2, xtitle: "Fechas", ytitle: "Marca" ,points: true %>
</div>
</div>
<%end%>
<%end%>

<%= link_to 'Back', athletes_path %>
