<p id="notice"><%= notice %></p>

<h1>Malethrowing Disc Heads</h1>

<table>
  <thead>
    <tr>
      <th>Championship</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @malethrowing_disc_heads.each do |malethrowing_disc_head| %>
      <tr>
        <td><%= malethrowing_disc_head.championship_id %></td>
        <td><%= malethrowing_disc_head.fecha %></td>
        <td><%= malethrowing_disc_head.hora %></td>
        <td><%= link_to 'Show', malethrowing_disc_head %></td>
        <td><%= link_to 'Edit', edit_malethrowing_disc_head_path(malethrowing_disc_head) %></td>
        <td><%= link_to 'Destroy', malethrowing_disc_head, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Malethrowing Disc Head', new_malethrowing_disc_head_path %>
