<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @male_pole_jump.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @male_pole_jump.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @male_pole_jump.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @male_pole_jump.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @male_pole_jump.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @male_pole_jump.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @male_pole_jump.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @male_pole_jump.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @male_pole_jump.country %>
</p>

<p>
  <strong>Malepolejumpshead:</strong>
  <%= @male_pole_jump.malepolejumpsHead_id %>
</p>

<%= link_to 'Edit', edit_male_pole_jump_path(@male_pole_jump) %> |
<%= link_to 'Back', male_pole_jumps_path %>
