<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @female20000mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @female20000mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @female20000mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @female20000mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @female20000mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @female20000mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @female20000mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @female20000mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @female20000mt.country %>
</p>

<p>
  <strong>Female20000mthead:</strong>
  <%= @female20000mt.female20000mtHead_id %>
</p>

<%= link_to 'Edit', edit_female20000mt_path(@female20000mt) %> |
<%= link_to 'Back', female20000mts_path %>
