<p id="notice"><%= notice %></p>

<p>
  <strong>Championship:</strong>
  <%= @femalethrowing_disc_head.championship_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @femalethrowing_disc_head.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @femalethrowing_disc_head.hora %>
</p>

<%= link_to 'Edit', edit_femalethrowing_disc_head_path(@femalethrowing_disc_head) %> |
<%= link_to 'Back', femalethrowing_disc_heads_path %>
