<p id="notice"><%= notice %></p>

<div class="col-md-12">
<div class="callout callout-info">
        <h4><strong>Salto Triple - Varones - Final </strong></h4>
     &#09;<h5>14 abr.2018; 10:30 horas</h5>
     </div>
</div>

<%= content_tag :table, role: :datatable, data: { url: male_triple_jumps_path(format: :json)} do %>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>An</th>
      <th>Club</th>
      <th>Reg</th>
      <th>Country</th>
      <th>First</th>
      <th>Vvfirst</th>
      <th>Seconnd</th>
      <th>Vvsecond</th>
      <th>Third</th>
      <th>Vvthird</th>
      <th>Op</th>
      <th>Fourth</th>
      <th>Vvfourth</th>
      <th>Fift</th>
      <th>Vvfifth</th>
      <th>Sixth</th>
      <th>Vvsixth</th>
      <th>Achievement</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 <tbody>
  </tbody>
<% end %>
 
<script type="application/javascript">
$(document).ready(function() {
jQuery(".best_in_place").best_in_place();
});
function bestInPlace()
{
 jQuery(".best_in_place").best_in_place();
};

</script>
   <br><br><br><br><br>
<div class="col-md-12">
    <div class="callout callout-success">
      <h4><strong>IMPORTAR</strong></h4>
     </div>
     
   <%=form_tag import_male_triple_jumps_path, multipart: true do%>
<%=file_field_tag :file%>
<%=submit_tag "Importar"%>
 <% end %>
</div> 