<div class="col-xs-12">
<p id="notice"><%= notice %></p>
<div class="callout callout-warning">
                <h4><%= Competition.where(id: params[:competition_id]).first.sport.name %>
                <%=Competition.where(id: params[:competition_id]).first.category.name %>
                <%=Competition.where(id: params[:competition_id]).first.sex.name%>
                  <%=Competition.where(id: params[:competition_id]).first.sex.name%>
              <% if  user_signed_in? && (getAdminPermission( current_user.email) || getCamaraPermission( current_user.email) )%>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to image_tag("trophy.png" ,style: 'height:3%;width:3%;', border: 0, title: 'RESULTADOS'), hjump2s_path(format: "xlsx", :j => params[:competition_id]) %>
<%end%>

                </h4>

    </div>
<%
competition_id=params[:competition_id]
start=params[:start]
sex_id=1
sport_id=1
category_id=1
%>
<% @hjump_head2s.where(:competition_id =>competition_id
).each do |hjump_head2| %>
<%

competition_id=hjump_head2.competition_id
sex_id=hjump_head2.sex_id
sport_id=hjump_head2.sport_id
category_id=hjump_head2.category_id

%>
  <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class<%=sexColorBoxHeader(Competition.where(id: params[:competition_id]).first.sex.name)%>
              <h3 class="box-title">
                     <% if  user_signed_in? && (getAdminPermission( current_user.email) || getCamaraPermission( current_user.email) )%>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
<%= link_to image_tag("jueces.png" ,style: 'height:3%;width:3%;', border: 0, title: 'PLANILLA JUECES'), hjump2s_path(format: "xlsx", :competition_id => params[:competition_id], :type =>"jueces", :h=>hjump_head2.id) %>                
<%end%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <% if  user_signed_in? && (getAdminPermission( current_user.email) || getCamaraPermission( current_user.email) )%> 

                 <%= link_to hjump_head2, method: :delete, data: { confirm: 'Está seguro?' }, class: "" do %><button type="button" class="btn btn-danger" aria-label="Left Align">ELIMINAR SERIE</button>
         <%end%>
              <%else%>
              <%=hjump_head2.serie%>
                <%end%>
 
              </h3>

              <div class="box-tools">
             </div>
            </div>




     <% if  user_signed_in? && (getAdminPermission( current_user.email) || getCamaraPermission( current_user.email) ) && start=="0"%>
       <div class="row">
          <div class="col-xs-12">
       
             
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                    <%= simple_form_for :hjump2, :url => hjump2s_path, :method => :post  do |f| %>
                <table class="table table-hover">

    <%= f.error_notification %>
    <%= f.input :hjump_head2_id, :as => :hidden, :input_html => { :value => hjump_head2.id  }%>
                  <tr>
          
                    <th><%= f.input :athlete,  placeholder: "Atleta",label: false%></th>
                    <th><%= f.input :club,  placeholder: "Club",label: false%></th>
                     <th><%= f.input :an,  placeholder: "A.N.",label: false%></th>
                      <th><%= f.input :region,  placeholder: "Región",label: false%></th>

                                <th> <%= f.input :achievement, placeholder: "Marca",label: false%></th>
                                  <th> <%= f.input :place, placeholder: "Lugar",label: false%></th>
                    <th> <%= f.button :submit ,'Guardar',class: "btn btn-success"%></th>
                  </tr>
                 
                         </table>
                          <%end%>
              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
       <% elsif  user_signed_in? && (getAdminPermission( current_user.email) || getCamaraPermission( current_user.email) ) && start=="1"%>
       <div class="row">
          <div class="col-xs-12">
       
             
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                    <%= simple_form_for :hjump2, :url => hjump2s_path, :method => :post  do |f| %>
                <table class="table table-hover">

    <%= f.error_notification %>
    <%= f.input :hjump_head2_id, :as => :hidden, :input_html => { :value => hjump_head2.id  }%>
                  <tr>
          
                    <th><%= f.input :athlete,  placeholder: "Atleta",label: false%></th>
                    <th><%= f.input :club,  placeholder: "Club",label: false%></th>
                     <th><%= f.input :an,  placeholder: "A.N.",label: false%></th>
                      <th><%= f.input :region,  placeholder: "Región",label: false%></th>
                    <th> <%= f.button :submit ,'Guardar',class: "btn btn-success"%></th>
                  </tr>
                 
                         </table>
                          <%end%>
              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
  <%end%>
  <!-- /.box-header -->
            <div class="box-body table-responsive no-padding table-striped">
              <table class="table table-hover">
                <tbody><tr class<%=sexColortr(Competition.where(id: params[:competition_id]).first.sex.name)%>
                  <% if  start=="0"%>
                  <th>Lugar</th>
              <th>Marca</th>
                  <th>Nombre</th>
                  <th>A.N.</th>
                  <th>Club</th>
                  <th>Región</th>
             
                  
                <%elsif   start=="1"%>
                  <th>Nombre</th>
                  <th>A.N.</th>
                  <th>Club</th>
                  <th>Región</th>
                  
                  <%end%>
                  
                   <% if  user_signed_in? && (getAdminPermission( current_user.email) || getCamaraPermission( current_user.email) )%>
                   <th>ELIMINAR</th>
                   <%end%>
                </tr>
                  <%  hjump_head2.hjump2s.where(:hjump_head2_id => hjump_head2.id).sort_by { |a| -(a.achievement.to_f) }.each do |hjump2| %>
               
     
        <% if  user_signed_in? && (getAdminPermission( current_user.email) || getCamaraPermission( current_user.email) ) && start=="0"%>
  <tr>
<td><b><%= best_in_place(hjump2, :place,  :html_attrs => { :size => '2' }) %></b></td>
        <td><b><%= best_in_place(hjump2, :achievement,  :html_attrs => { :size => '4' }) %></b></td>
        <td><b><%=hjump2.athlete %></b></td>
        <td><%=hjump2.an %></td>
        <td><%=hjump2.club %>
         <td><%=hjump2.region %></td>
       
        
         <% if  user_signed_in? && (getAdminPermission( current_user.email) || getCamaraPermission( current_user.email) ) %>
        <td><%= link_to hjump2, method: :delete, data: { confirm: 'Está seguro?' }, class: "" do %><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></td>
        <% end %> 
        <%end%>

           <% elsif  user_signed_in? && (getAdminPermission( current_user.email) || getCamaraPermission( current_user.email) )  && start=="1"%>
        <tr>
        <td><b><%=hjump2.athlete %></b></td>
        <td><%=hjump2.an %></td>
        <td><%=hjump2.club %>
        <td><%=hjump2.region %></td>       
        <td><%= link_to hjump2, method: :delete, data: { confirm: 'Está seguro?' }, class: "" do %><button type="button" class="btn btn-danger" aria-label="Left Align">X</button></td>
      
        <%end%>
      </tr>

 <%   elsif start=="0"%>

<tr>
    <td><b><%=hjump2.place %></b></td>
      <td><b><%=hjump2.achievement %></b></td>
        <td><b><%=hjump2.athlete %></b></td>
       <td><%=hjump2.an %></td>
        <td><%= hjump2.club%></td>
        <td><%= hjump2.region %></td>
      </tr>
 <%   elsif start=="1"%>

<tr>
  
        <td><b><%=hjump2.athlete %></b></td>
       <td><%=hjump2.an %></td>
        <td><%= hjump2.club%></td>
        <td><%= hjump2.region %></td>
      </tr>


 <%end%>
<%end%>   
              </tbody></table>
            </div>
 <% if  user_signed_in? && (getAdminPermission( current_user.email) || getCamaraPermission( current_user.email) )%>
    <div class="box-header callout-success">
      <h4><strong>IMPORTAR</strong></h4>
     </div>
   <%=form_tag import_hjump2s_path("id"=>hjump_head2.id), multipart: true do%>
<%=file_field_tag :file%>
<%=submit_tag "Importar"%>
 <% end %>
<%end%>

            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>


    
  <%end%>
    
<br>


  <% if  user_signed_in? && (getAdminPermission( current_user.email) || getCamaraPermission( current_user.email) )%>
  <script type="application/javascript">

$(document).ready(function() {
jQuery(".best_in_place").best_in_place();
});
function bestInPlace()
{
 jQuery(".best_in_place").best_in_place();
};
 </script>
 <div class<%=sexColorBoxHeader(Competition.where(id: params[:competition_id]).first.sex.name)%>
              <h3 class="box-title">Nueva Serie
             
              </h3>

              <div class="box-tools">
              </div>
            </div>
       <div class="row">
          <div class="col-xs-12">
       
             
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                 <%= simple_form_for :hjump_head2, :url => hjump_head2s_path, :method => :post  do |f| %>
                <table class="table table-hover">
                  
   
    <%= f.error_notification %>
                  <tr>
                     <th><%= f.input :competition_id, :as => :hidden, :input_html => { :value => competition_id  }%></th>
                    <th><%= f.input :sex_id, :as => :hidden, :input_html => { :value => sex_id  }%></th>
                    <th><%= f.input :sport_id, :as => :hidden, :input_html => { :value => sport_id  }%></th>
                    <th><%= f.input :category_id, :as => :hidden, :input_html => { :value => category_id  }%></th>
                    
                     <th> <%= f.input :serie, placeholder: "Serie N°",label: false%></th>
          
                    
                    <th> <%= f.button :submit ,'Guardar',class: "btn btn-success"%></th>
                  </tr>
                  
                         </table>
                         <%end%>
              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
  <%end%>
<%= link_to "VOLVER", :back, class: "btn btn-warning" %>

</div>


