<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @hjump_head2.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @hjump_head2.hora %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @hjump_head2.sex %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @hjump_head2.competition %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @hjump_head2.sport %>
</p>

<p>
  <strong>Category:</strong>
  <%= @hjump_head2.category %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @hjump_head2.serie %>
</p>

<%= link_to 'Edit', edit_hjump_head2_path(@hjump_head2) %> |
<%= link_to 'Back', hjump_head2s_path %>
