<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discipline_championship2.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @discipline_championship2.sex %>
</p>

<%= link_to 'Edit', edit_discipline_championship2_path(@discipline_championship2) %> |
<%= link_to 'Back', discipline_championship2s_path %>
