<p id="notice"><%= notice %></p>

<p>
  <strong>Idchampionship:</strong>
  <%= @discipline_championship.idChampionship %>
</p>

<p>
  <strong>Iddiscipline:</strong>
  <%= @discipline_championship.idDiscipline %>
</p>

<%= link_to 'Edit', edit_discipline_championship_path(@discipline_championship) %> |
<%= link_to 'Back', discipline_championships_path %>
