<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @male_javeline.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @male_javeline.name %>
</p>

<p>
  <strong>An:</strong>
  <%= @male_javeline.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @male_javeline.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @male_javeline.region %>
</p>

<p>
  <strong>First:</strong>
  <%= @male_javeline.first %>
</p>

<p>
  <strong>Second:</strong>
  <%= @male_javeline.second %>
</p>

<p>
  <strong>Third:</strong>
  <%= @male_javeline.third %>
</p>

<p>
  <strong>Fourth:</strong>
  <%= @male_javeline.fourth %>
</p>

<p>
  <strong>Fifth:</strong>
  <%= @male_javeline.fifth %>
</p>

<p>
  <strong>Sixth:</strong>
  <%= @male_javeline.sixth %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @male_javeline.achievement %>
</p>

<p>
  <strong>Place:</strong>
  <%= @male_javeline.place %>
</p>

<%= link_to 'Edit', edit_male_javeline_path(@male_javeline) %> |
<%= link_to 'Back', male_javelines_path %>
