<p id="notice"><%= notice %></p>

<p>
  <strong>Championship:</strong>
  <%= @femalejump_head.championship_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @femalejump_head.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @femalejump_head.hora %>
</p>

<%= link_to 'Edit', edit_femalejump_head_path(@femalejump_head) %> |
<%= link_to 'Back', femalejump_heads_path %>
