
    <div class="row">
      <div class="col-md-2">
      </div>
       <div class="col-md-8">
         <div class="callout callout-warning">
                <h4> 
<%=Championship.where(:id => params[:id]).first.name%></h4>
    </div>
<%= simple_form_for(@registration_head2) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" >
    <%= f.input :championship_id, :as => :hidden, :input_html => { :value =>  params[:id]}%>  
    <%= hidden_field_tag(:id, params[:id]) %>

    NOMBRES<%= f.input :name ,label: false%>
    APELLIDOS<%= f.input :lastname, label: false %>
    CATEGORÍA<%= f.association :sex, label: false%>
    FECHA DE NACMIENTO<%= f.date_field :an , class: 'form-control'%>
    CLUB<%= f.input :club ,  label: false%>
    REGIÓN<%= f.input :region , label: false%>
    RUT<%= f.input :dni , label: false%>
  </div>



 <div class="form-actions">
    <%= f.button :submit, value: "SIGUIENTE", class: "btn btn-success" %>
  </div>
<% end %>
</div>
</div>
 <div class="col-md-2">
 </div>
</div>