<% 
if params[:id]!='' and params[:id].present?
session[:idRChamp] = params[:id]
end
%>
<%@club_id=getClubNumber(current_user.email)%>
<%@region_id=getRegionNumber(current_user.email)%>
<%@champ=session[:idRChamp]%>
    <div class="row">
      <div class="col-md-2">
      </div>
       <div class="col-md-8">
        <div class="box box-solid">
       
      
         <div class="callout callout-warning">
                <h4> 
<%=Championship.where(:id => @champ).first.name%></h4>
    </div>
         <div class="box-header with-border">
              <h3 class="box-title">PROCESO DE INSCRIPCIÓN, ETAPA 1 DE 3</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">         

              <div class="progress">
                <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
             
            </div>
            <!-- /.box-body -->
          </div>




      <div class="box-body table-responsive no-padding table-striped">
              <table class="table table-hover">
                <tbody>             
<%if getClubPermission(current_user.email) %> 
<%= content_tag :table, role: :datatable, data: { url: athletes_path(club_id: @club_id,format: :json)} do %>
  <thead>
    <tr class="table-info">
     
                  <th>NOMBRES</th>
                  <th>APELLIDOS</th>                  
                  <th>RUT</th>
                  <th></th>
    </tr>
  </thead>

  
<% end %>
</tbody>
</table>
</div>
<%elsif getRegionPermission(current_user.email)%>
<%= content_tag :table, role: :datatable, data: { url: athletes_path(region_id: @region_id,format: :json)} do %>
  <thead>
    <tr class="table-info">
     
                  <th>NOMBRES</th>
                  <th>APELLIDOS</th>                  
                  <th>RUT</th>
                  <th></th>
    </tr>
  </thead>

  
<% end %>
</tbody>
</table>
</div>
<%elsif getAdminPermission(current_user.email)%>
<%= content_tag :table, role: :datatable, data: { url: athletes_path(format: :json)} do %>
  <thead>
    <tr class="table-info">
     
                  <th>NOMBRES</th>
                  <th>APELLIDOS</th>                  
                  <th>RUT</th>
                  <th></th>
    </tr>
  </thead>

  
<% end %>
</tbody>
</table>
</div>
<%end%>





<%= simple_form_for(@registration_head2)  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" >
    <%= f.input :championship_id, :as => :hidden, :input_html => { :value =>  @champ}%>  
    <%= hidden_field_tag(:id, @champ) %>

    NOMBRES<%= f.input :name ,label: false, required:  true ,  :input_html => { :onblur => "upperName()", :value => getAthleteNamesFromId(params[:a])}%>
    APELLIDOS<%= f.input :lastname, label: false, required:  true,   :input_html => { :onblur => "upperLastName()", :value => getAthleteSurnamesFromId(params[:a])} %>
    <%@sex=getAthleteSexFromId(params[:a])%>
    SEXO<%= f.association :sex, label: false, :selected => @sex%>
    <%begin%>
    <%getAthleteBirthFromId(params[:a]).day%>
    <%="FECHA DE NACMIENTO"%>
    <%= f.input :an , class: 'form-control',:selected => getAthleteBirthFromId(params[:a]), label: false%>

    <%rescue%>
    <%end%>
    CLUB<%= f.input :club ,  label: false, required:  true  ,:input_html => { :onblur => "upperClub()", :value => getAthleteClubFromId(params[:a])}%>
    REGIÓN<%=f.input :region, label: false,:input_html => { :value => getAthleteRegionFromId(params[:a])}%>
    RUT<%= f.input :dni , required:  true ,label: false, :input_html => { :value => getAthleteRutFromId(params[:a])}%>
  </div>



 <div class="form-actions">
    <%= f.button :submit, value: "SIGUIENTE", class: "btn btn-success" %>
  </div>
<% end %>
</div>
</div>
 <div class="col-md-2">
 </div>
</div>
<script>
function upperName() {
  var x = document.getElementById("registration_head2_name");
  x.value = x.value.toUpperCase();
}

</script>
<script>
function upperLastName() {
  var x = document.getElementById("registration_head2_lastname");
  x.value = x.value.toUpperCase();
}

</script>
<script>
function upperClub() {
  var x = document.getElementById("registration_head2_club");
  x.value = x.value.toUpperCase();
}

</script>
<script type="text/javascript">
    $("#registration_head2_dni").inputmask({
  mask: "9[9.999.999]-[9|K|k]",
});

  </script>


