<%
txtName=params[:txtName]
txtLastName=params[:txtLastName]
txtAn=params[:txtAn]
txtSex=params[:txtSex]
txtClub=params[:txtClub]
txtName=params[:txtName]
txtRegion=params[:txtRegion]
txtChampionship=params[:txtChampionship]
arr=params[:competitions]
@lastTrackHead=0
 arr.each do |e|
arrCount=nil
%>

<%
sqlCompType = "select competition_type_id from competitions where competitions.id="+e+";"   
    arrCompType = ActiveRecord::Base.connection.execute(sqlCompType)
arrCompType.each do |t|
	@CompType=t[0]
	%>

	<%
	if @CompType==1
	@whereHead="track_head2s"
	@whereDetail="track2s"
	elsif @CompType==2
	@whereHead="hjump_head2s"
	@whereDetail="hjump2s"
	elsif @CompType==3
	@whereHead="throw_head2s"
	@whereDetail="throw2s"
	elsif @CompType==4
	@whereHead="jump_head2s"
	@whereDetail="jump2s"		
	end
	end



%>
<%sql = "select count(*) from "+@whereHead.to_s+"  where "+@whereHead.to_s+".competition_id="+e+" ;
"   
    arrCount = ActiveRecord::Base.connection.execute(sql)

arrCount.each do |t|
%>
<%
if t[0]==0 
arrTrackHead2s=nil
@lastTrackHead=nil
sqlTrackHead2s = "insert into "+@whereHead+"(competition_id, serie, created_at, updated_at) values("+e+", 'INSCRITOS', '"+Time.now.strftime('%Y/%m/%d')+"', '"+Time.now.strftime('%Y/%m/%d')+"');"   
    arrTrackHead2s = ActiveRecord::Base.connection.execute(sqlTrackHead2s)
@lastTrackHead=TrackHead2.last.id.to_s
	sqlTrackHead2s="select id from "+@whereHead+" where competition_id="+e+";"
	arrTrackHead2s = ActiveRecord::Base.connection.execute(sqlTrackHead2s)
	arrTrackHead2s.each do |l|
	@lastTrackHead=l[0].to_s
	end
else
	sqlTrackHead2s="select id from "+@whereHead+" where competition_id="+e+";"
	arrTrackHead2s = ActiveRecord::Base.connection.execute(sqlTrackHead2s)
	arrTrackHead2s.each do |l|
	@lastTrackHead=l[0].to_s
	end

end

sqlTrack2s = "insert into "+@whereDetail+" (athlete, "+@whereHead.slice(0 .. -2) +"_id, club, region, created_at, updated_at, an) values('"+txtName+" "+txtLastName+"', "+@lastTrackHead+",'"+txtClub+"', '"+txtRegion+"', '"+Time.now.strftime('%Y/%m/%d')+"', '"+Time.now.strftime('%Y/%m/%d')+"', '"+txtAn+"');"   
    arrCount = ActiveRecord::Base.connection.execute(sqlTrack2s)
%>

<%end%>
<%
 end

%>







<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
    <div class="box box-solid">
    	    <div class="callout callout-warning" style="font-size:14px;">
<h4> 
<%=Championship.where(:id => txtChampionship).first.name.upcase%></h4>
</div>
            <div class="box-header with-border">
              <h3 class="box-title">PROCESO DE INSCRIPCIÓN FINALIZADO, ETAPA 3 DE 3</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">         

              <div class="progress">
                <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
             
            </div>
            <!-- /.box-body -->
          </div>
          <div class="box">
         
  
              <div class="box box-primary">
            <div class="box-header with-border"">
              <h3 class="box-title">DATOS PERSONALES</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body"  style="font-size:12px;">
              <strong><i class="fa fa-user margin-r-5"></i> NOMBRES</strong>
                <p class="text-muted">
                   <%=txtName.upcase%> 
              </p>

          
              <hr>
              <strong><i class="fa fa-user margin-r-5"></i> APELLIDOS</strong>

                <p class="text-muted">
                   <%=txtLastName.upcase%> 
              </p>

              <hr>

              <strong><i class="fa fa-female margin-r-5"></i><i class="fa fa-male margin-r-5"></i> SEXO</strong>

              <p class="text-muted">
         <%=txtSex%> 
              </p>

              <hr>
               <strong><i class="fa fa-calendar margin-r-5"></i>FECHA DE NACIMIENTO</strong>

              <p class="text-muted">
              <%=txtAn%> 
              </p>

              <hr>

              <strong><i class="fa fa-certificate margin-r-5"></i> CLUB</strong>

              <p class="text-muted">
          <%=txtClub.upcase%> 
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> REGIÓN</strong>

              <p class="text-muted"></p>
  <%=txtRegion.upcase%> 
             
            </div>
            <!-- /.box-body -->
          </div>





<div class="box-body table-responsive no-padding table-striped">
       <table class="table table-hover">
        <thead>
          <tr class="table-info">
     
            <th>COMPETICIONES INSCRITAS</th>
            <th>CATEGORÍA</th>
          </tr>
        </thead>
        <tbody>
<%
arr.each do |e|
	sqlComp = "select sports.name , sexes.name from competitions 
				join sports on competitions.sport_id=sports.id
				join sexes on competitions.sex_id=sexes.id
	where competitions.id="+e+";"   
    arrComp = ActiveRecord::Base.connection.execute(sqlComp)
arrComp.each do |c|
	%>
<tr>
	<td>
<%=c[0]%>
</td>
<td>
<%=c[1]%>
</td>
</tr>
	<%
end

end
%>
  </tbody>
  </table>
</div>
</div>
<br/>
  <div class="row">
<div class="col-md-5">
<form action="new">
	<input type="hidden" name="id" value=<%=txtChampionship %> >
    <input type="submit" value="INSCRIBIR OTRO ATLETA" class="btn btn-warning"/>
</form>
</div>
<div class="col-md-5">
<form action=<%="..\\championships\\"+txtChampionship %> >
	
    <input type="submit" value="VER HORARIOS" class="btn btn-success"/>
</form>
</div>
<div class="col-md-2">
<form action="../users/sign_in">
    <input type="submit" value="VOLVER AL INICIO" class="btn btn-danger"/>
</form>
</div>
</div>
