<p id="notice"><%= notice %></p>

<p>
  <strong>Championship:</strong>
  <%= @registration_head2.championship %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @registration_head2.sex %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @registration_head2.fecha %>
</p>

<p>
  <strong>Name:</strong>
  <%= @registration_head2.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @registration_head2.lastname %>
</p>

<p>
  <strong>An:</strong>
  <%= @registration_head2.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @registration_head2.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @registration_head2.region %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @registration_head2.pais %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @registration_head2.dni %>
</p>

<%= link_to 'Edit', edit_registration_head2_path(@registration_head2) %> |
<%= link_to 'Back', registration_head2s_path %>
