<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_male_shot_put.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_male_shot_put.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_male_shot_put.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_male_shot_put.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_male_shot_put.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_male_shot_put.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_male_shot_put.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_male_shot_put.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_male_shot_put.country %>
</p>

<p>
  <strong>Maleshotputhead:</strong>
  <%= @start_male_shot_put.maleShotPutHead_id %>
</p>

<%= link_to 'Edit', edit_start_male_shot_put_path(@start_male_shot_put) %> |
<%= link_to 'Back', start_male_shot_puts_path %>
