<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_female400mtshudrle.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_female400mtshudrle.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_female400mtshudrle.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_female400mtshudrle.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_female400mtshudrle.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_female400mtshudrle.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_female400mtshudrle.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_female400mtshudrle.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_female400mtshudrle.country %>
</p>

<p>
  <strong>Female400mtshudrlestart:</strong>
  <%= @start_female400mtshudrle.female400mtshudrleStart_id %>
</p>

<%= link_to 'Edit', edit_start_female400mtshudrle_path(@start_female400mtshudrle) %> |
<%= link_to 'Back', start_female400mtshudrles_path %>
