<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @male110mtshudrle.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @male110mtshudrle.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @male110mtshudrle.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @male110mtshudrle.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @male110mtshudrle.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @male110mtshudrle.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @male110mtshudrle.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @male110mtshudrle.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @male110mtshudrle.country %>
</p>

<p>
  <strong>Male110mtshudrlehead:</strong>
  <%= @male110mtshudrle.male110mtshudrleHead_id %>
</p>

<%= link_to 'Edit', edit_male110mtshudrle_path(@male110mtshudrle) %> |
<%= link_to 'Back', male110mtshudrles_path %>
