<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @male1500mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @male1500mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @male1500mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @male1500mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @male1500mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @male1500mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @male1500mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @male1500mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @male1500mt.country %>
</p>

<p>
  <strong>Male1500mtshead:</strong>
  <%= @male1500mt.male1500mtsHead_id %>
</p>

<%= link_to 'Edit', edit_male1500mt_path(@male1500mt) %> |
<%= link_to 'Back', male1500mts_path %>
