<p id="notice"><%= notice %></p>

<h1>Start Male200mts</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Achievement</th>
      <th>Rail</th>
      <th>Number</th>
      <th>Athlete</th>
      <th>An</th>
      <th>Club</th>
      <th>Region</th>
      <th>Country</th>
      <th>Male200mtshead</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @start_male200mts.each do |start_male200mt| %>
      <tr>
        <td><%= start_male200mt.place %></td>
        <td><%= start_male200mt.achievement %></td>
        <td><%= start_male200mt.rail %></td>
        <td><%= start_male200mt.number %></td>
        <td><%= start_male200mt.athlete %></td>
        <td><%= start_male200mt.an %></td>
        <td><%= start_male200mt.club %></td>
        <td><%= start_male200mt.region %></td>
        <td><%= start_male200mt.country %></td>
        <td><%= start_male200mt.male200mtsHead_id %></td>
        <td><%= link_to 'Show', start_male200mt %></td>
        <td><%= link_to 'Edit', edit_start_male200mt_path(start_male200mt) %></td>
        <td><%= link_to 'Destroy', start_male200mt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Start Male200mt', new_start_male200mt_path %>
