<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_male8x50mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_male8x50mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_male8x50mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_male8x50mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_male8x50mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_male8x50mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_male8x50mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_male8x50mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_male8x50mt.country %>
</p>

<p>
  <strong>Male8x50mtstart:</strong>
  <%= @start_male8x50mt.male8x50mtStart_id %>
</p>

<%= link_to 'Edit', edit_start_male8x50mt_path(@start_male8x50mt) %> |
<%= link_to 'Back', start_male8x50mts_path %>
