<p id="notice"><%= notice %></p>

<h1>Female1500mts Heads</h1>

<%= content_tag :table, role: :datatable, data: { url: female1500mts_heads_path(format: :json)} do %>
  <thead>
    <tr>
      <th>Championship</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

 <tbody onmouseover="bestInPlace();">
  </tbody>
<% end %>

 
<script type="application/javascript">
$(document).ready(function() {
jQuery(".best_in_place").best_in_place();
});
function bestInPlace()
{
 jQuery(".best_in_place").best_in_place();
};
 </script>
 <br><br><br>
<h3>Importar</h3>

<%=form_tag import_female1500mts_heads_path, multipart: true do%>
<%=file_field_tag :file%>
<%=submit_tag "Importar"%>

 <% end %>
<%= link_to 'New Female1500mts Head', new_female1500mts_head_path %>
