<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @male400mthudrle.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @male400mthudrle.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @male400mthudrle.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @male400mthudrle.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @male400mthudrle.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @male400mthudrle.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @male400mthudrle.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @male400mthudrle.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @male400mthudrle.country %>
</p>

<p>
  <strong>Male400mthudrlehead:</strong>
  <%= @male400mthudrle.male400mthudrleHead_id %>
</p>

<%= link_to 'Edit', edit_male400mthudrle_path(@male400mthudrle) %> |
<%= link_to 'Back', male400mthudrles_path %>
