
<%= simple_form_for(@start_female8x50mt) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :place %>
    <%= f.input :achievement %>
    <%= f.input :rail %>
    <%= f.input :number %>
    <%= f.input :athlete %>
    <%= f.input :an %>
    <%= f.input :club %>
    <%= f.input :region %>
    <%= f.input :country %>
    <%= f.input :female8x50mtStart_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
