<p id="notice"><%= notice %></p>

<h1>Start Male Javelins</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Achievement</th>
      <th>Rail</th>
      <th>Number</th>
      <th>Athlete</th>
      <th>An</th>
      <th>Club</th>
      <th>Region</th>
      <th>Country</th>
      <th>Malejavelinhead</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @start_male_javelins.each do |start_male_javelin| %>
      <tr>
        <td><%= start_male_javelin.place %></td>
        <td><%= start_male_javelin.achievement %></td>
        <td><%= start_male_javelin.rail %></td>
        <td><%= start_male_javelin.number %></td>
        <td><%= start_male_javelin.athlete %></td>
        <td><%= start_male_javelin.an %></td>
        <td><%= start_male_javelin.club %></td>
        <td><%= start_male_javelin.region %></td>
        <td><%= start_male_javelin.country %></td>
        <td><%= start_male_javelin.maleJavelinHead_id %></td>
        <td><%= link_to 'Show', start_male_javelin %></td>
        <td><%= link_to 'Edit', edit_start_male_javelin_path(start_male_javelin) %></td>
        <td><%= link_to 'Destroy', start_male_javelin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Start Male Javelin', new_start_male_javelin_path %>
