<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @male_discus_throw.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @male_discus_throw.name %>
</p>

<p>
  <strong>An:</strong>
  <%= @male_discus_throw.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @male_discus_throw.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @male_discus_throw.region %>
</p>

<p>
  <strong>First:</strong>
  <%= @male_discus_throw.first %>
</p>

<p>
  <strong>Second:</strong>
  <%= @male_discus_throw.second %>
</p>

<p>
  <strong>Third:</strong>
  <%= @male_discus_throw.third %>
</p>

<p>
  <strong>Fourth:</strong>
  <%= @male_discus_throw.fourth %>
</p>

<p>
  <strong>Fifth:</strong>
  <%= @male_discus_throw.fifth %>
</p>

<p>
  <strong>Sixth:</strong>
  <%= @male_discus_throw.sixth %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @male_discus_throw.achievement %>
</p>

<p>
  <strong>Place:</strong>
  <%= @male_discus_throw.place %>
</p>

<%= link_to 'Edit', edit_male_discus_throw_path(@male_discus_throw) %> |
<%= link_to 'Back', male_discus_throws_path %>
