<p id="notice"><%= notice %></p>

<p>
  <strong>Championship:</strong>
  <%= @female100mtshurdles_head.championship_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @female100mtshurdles_head.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @female100mtshurdles_head.hora %>
</p>

<%= link_to 'Edit', edit_female100mtshurdles_head_path(@female100mtshurdles_head) %> |
<%= link_to 'Back', female100mtshurdles_heads_path %>
