<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_female200mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_female200mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_female200mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_female200mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_female200mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_female200mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_female200mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_female200mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_female200mt.country %>
</p>

<p>
  <strong>Female200mtshead:</strong>
  <%= @start_female200mt.female200mtsHead_id %>
</p>

<%= link_to 'Edit', edit_start_female200mt_path(@start_female200mt) %> |
<%= link_to 'Back', start_female200mts_path %>
