<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha date:</strong>
  <%= @throw_head2.fecha_date %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @throw_head2.hora %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @throw_head2.sex %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @throw_head2.competition %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @throw_head2.sport %>
</p>

<p>
  <strong>Category:</strong>
  <%= @throw_head2.category %>
</p>

<p>
  <strong>Type:</strong>
  <%= @throw_head2.type %>
</p>

<%= link_to 'Edit', edit_throw_head2_path(@throw_head2) %> |
<%= link_to 'Back', throw_head2s_path %>
