<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @female8x50mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @female8x50mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @female8x50mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @female8x50mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @female8x50mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @female8x50mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @female8x50mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @female8x50mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @female8x50mt.country %>
</p>

<p>
  <strong>Female8x50mts:</strong>
  <%= @female8x50mt.female8x50mts_id %>
</p>

<%= link_to 'Edit', edit_female8x50mt_path(@female8x50mt) %> |
<%= link_to 'Back', female8x50mts_path %>
