<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @jump.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @jump.name %>
</p>

<p>
  <strong>An:</strong>
  <%= @jump.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @jump.club %>
</p>


<p>
  <strong>Country:</strong>
  <%= @jump.country %>
</p>

<p>
  <strong>First:</strong>
  <%= @jump.first %>
</p>

<p>
  <strong>Vvfirst:</strong>
  <%= @jump.vvFirst %>
</p>

<p>
  <strong>Seconnd:</strong>
  <%= @jump.seconnd %>
</p>

<p>
  <strong>Vvsecond:</strong>
  <%= @jump.vvSecond %>
</p>

<p>
  <strong>Third:</strong>
  <%= @jump.third %>
</p>

<p>
  <strong>Vvthird:</strong>
  <%= @jump.vvThird %>
</p>

<p>
  <strong>Op:</strong>
  <%= @jump.op %>
</p>

<p>
  <strong>Fourth:</strong>
  <%= @jump.fourth %>
</p>

<p>
  <strong>Vvfourth:</strong>
  <%= @jump.vvFourth %>
</p>

<p>
  <strong>Fift:</strong>
  <%= @jump.fift %>
</p>

<p>
  <strong>Vvfifth:</strong>
  <%= @jump.vvFifth %>
</p>

<p>
  <strong>Sixth:</strong>
  <%= @jump.sixth %>
</p>

<p>
  <strong>Vvsixth:</strong>
  <%= @jump.vvSixth %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @jump.achievement %>
</p>

<p>
  <strong>Place:</strong>
  <%= @jump.place %>
</p>

<%= link_to 'Edit', edit_jump_path(@jump) %> |
<%= link_to 'Back', jumps_path %>
