<p id="notice"><%= notice %></p>

<h1>Male100mts Heads</h1>

<table>
  <thead>
    <tr>
      <th>Championship</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @male100mts_heads.each do |male100mts_head| %>
      <tr>
        <td><%= male100mts_head.championship_id %></td>
        <td><%= male100mts_head.fecha %></td>
        <td><%= male100mts_head.hora %></td>
        <td><%= link_to 'Show', male100mts_head %></td>
        <td><%= link_to 'Edit', edit_male100mts_head_path(male100mts_head) %></td>
        <td><%= link_to 'Destroy', male100mts_head, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Male100mts Head', new_male100mts_head_path %>
