<p id="notice"><%= notice %></p>

<div class="col-md-12">
    <div class="callout callout-danger">
      <h4><strong>Partida 100 metros vallas - Damas </strong></h4>
     &#09;<h5>Fecha Hora</h5>
     </div>

   <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
       <div class="row">
          <div class="col-xs-12">
       
             
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
    <%= simple_form_for(@start_female100mthudrle) do |f| %>
    <%= f.error_notification %>
                  <tr>
                    <th><%= f.input :place,  placeholder: "Lugar",label: false%></th>
                    <th> <%= f.input :achievement , placeholder: "Marca",label: false%></th>
                    <th><%= f.input :rail , placeholder: "Pista",label: false%></th>
                    <th> <%= f.input :number, placeholder: "Número" ,label: false%></th>
                    <th><%= f.input :athlete , placeholder: "Atleta",label: false%></th>
                    <th><%= f.input :an , placeholder: "A.N.",label: false%></th>
                    <th><%= f.input :club , placeholder: "Club",label: false%></th>
                    <th> <%= f.input :region, placeholder: "Región",label: false%></th>
                    <th> <%= f.button :submit ,'Guardar',class: "btn btn-success"%></th>
                  </tr>
                  <%end%>
                         </table>
              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
  <%end%>
</div>


<%= content_tag :table, role: :datatable, data: { url: start_female100mthudrles_path(format: :json)} do %>
  <thead>
    <tr>
      <th>Serie</th>
      <th>Pista</th>
      <th>Atleta</th>
      <th>A.N.</th>
      <th>Club</th>
      <th>Región</th>
      <th>Mejor Marca</th>
      </tr>
  </thead>

  
 <tbody onmouseover="bestInPlace();">
  </tbody>
<% end %>

 
 <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
<script type="application/javascript">
$(document).ready(function() {
jQuery(".best_in_place").best_in_place();
});
function bestInPlace()
{
 jQuery(".best_in_place").best_in_place();
};
 </script>
 </div>
 <% end %>