<p id="notice"><%= notice %></p>

<h1>Start Female100mthudrles</h1>

<%= content_tag :table, role: :datatable, data: { url: start_female100mthudrles_path(format: :json)} do %>
  <thead>
    <tr>
      <th>Place</th>
      <th>Achievement</th>
      <th>Rail</th>
      <th>Number</th>
      <th>Athlete</th>
      <th>An</th>
      <th>Club</th>
      <th>Region</th>
      <th>Country</th>
      <th>Female100mthudreshead</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
 <tbody onmouseover="bestInPlace();">
  </tbody>
<% end %>

 
<script type="application/javascript">
$(document).ready(function() {
jQuery(".best_in_place").best_in_place();
});
function bestInPlace()
{
 jQuery(".best_in_place").best_in_place();
};
 </script>
 <br><br><br>
<h3>Importar</h3>

<%=form_tag import_female100mthudrles_heads_path, multipart: true do%>
<%=file_field_tag :file%>
<%=submit_tag "Importar"%>

 <% end %>
<%= link_to 'New Start Female100mthudrle', new_start_female100mthudrle_path %>
