<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_female100mthudrle.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_female100mthudrle.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_female100mthudrle.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_female100mthudrle.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_female100mthudrle.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_female100mthudrle.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_female100mthudrle.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_female100mthudrle.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_female100mthudrle.country %>
</p>

<p>
  <strong>Female100mthudreshead:</strong>
  <%= @start_female100mthudrle.female100mthudresHead_id %>
</p>

<%= link_to 'Edit', edit_start_female100mthudrle_path(@start_female100mthudrle) %> |
<%= link_to 'Back', start_female100mthudrles_path %>
