<p id="notice"><%= notice %></p>

<h1>Athleteseries</h1>

<table>
  <thead>
    <tr>
      <th>Idserie</th>
      <th>Idathlete</th>
      <th>Idstatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @athleteseries.each do |athleteseries| %>
      <tr>
        <td><%= athleteseries.idSerie %></td>
        <td><%= athleteseries.idAthlete %></td>
        <td><%= athleteseries.idStatus %></td>
        <td><%= link_to 'Show', athleteseries %></td>
        <td><%= link_to 'Edit', edit_athleteseries_path(athleteseries) %></td>
        <td><%= link_to 'Destroy', athleteseries, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Athleteseries', new_athleteseries_path %>
