<p id="notice"><%= notice %></p>

<h1>Female Javelin Heads</h1>

<table>
  <thead>
    <tr>
      <th>Championship</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @female_javelin_heads.each do |female_javelin_head| %>
      <tr>
        <td><%= female_javelin_head.championship_id %></td>
        <td><%= female_javelin_head.fecha %></td>
        <td><%= female_javelin_head.hora %></td>
        <td><%= link_to 'Show', female_javelin_head %></td>
        <td><%= link_to 'Edit', edit_female_javelin_head_path(female_javelin_head) %></td>
        <td><%= link_to 'Destroy', female_javelin_head, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Female Javelin Head', new_female_javelin_head_path %>
