<p id="notice"><%= notice %></p>

<h1>Male10000mts</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Achievement</th>
      <th>Rail</th>
      <th>Number</th>
      <th>Athlete</th>
      <th>An</th>
      <th>Club</th>
      <th>Region</th>
      <th>Country</th>
      <th>Male10000mthead</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @male10000mts.each do |male10000mt| %>
      <tr>
        <td><%= male10000mt.place %></td>
        <td><%= male10000mt.achievement %></td>
        <td><%= male10000mt.rail %></td>
        <td><%= male10000mt.number %></td>
        <td><%= male10000mt.athlete %></td>
        <td><%= male10000mt.an %></td>
        <td><%= male10000mt.club %></td>
        <td><%= male10000mt.region %></td>
        <td><%= male10000mt.country %></td>
        <td><%= male10000mt.male10000mtHead_id %></td>
        <td><%= link_to 'Show', male10000mt %></td>
        <td><%= link_to 'Edit', edit_male10000mt_path(male10000mt) %></td>
        <td><%= link_to 'Destroy', male10000mt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Male10000mt', new_male10000mt_path %>
