<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @male10000mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @male10000mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @male10000mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @male10000mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @male10000mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @male10000mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @male10000mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @male10000mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @male10000mt.country %>
</p>

<p>
  <strong>Male10000mthead:</strong>
  <%= @male10000mt.male10000mtHead_id %>
</p>

<%= link_to 'Edit', edit_male10000mt_path(@male10000mt) %> |
<%= link_to 'Back', male10000mts_path %>
