<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @female110mtshudrle.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @female110mtshudrle.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @female110mtshudrle.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @female110mtshudrle.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @female110mtshudrle.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @female110mtshudrle.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @female110mtshudrle.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @female110mtshudrle.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @female110mtshudrle.country %>
</p>

<p>
  <strong>Female110mtshudrlehead:</strong>
  <%= @female110mtshudrle.female110mtshudrleHead_id %>
</p>

<%= link_to 'Edit', edit_female110mtshudrle_path(@female110mtshudrle) %> |
<%= link_to 'Back', female110mtshudrles_path %>
