<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_male5000mt.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_male5000mt.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_male5000mt.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_male5000mt.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_male5000mt.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_male5000mt.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_male5000mt.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_male5000mt.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_male5000mt.country %>
</p>

<p>
  <strong>Male5000mtstart:</strong>
  <%= @start_male5000mt.male5000mtStart_id %>
</p>

<%= link_to 'Edit', edit_start_male5000mt_path(@start_male5000mt) %> |
<%= link_to 'Back', start_male5000mts_path %>
