<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @start_female_hammer_throw.place %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @start_female_hammer_throw.achievement %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @start_female_hammer_throw.rail %>
</p>

<p>
  <strong>Number:</strong>
  <%= @start_female_hammer_throw.number %>
</p>

<p>
  <strong>Athlete:</strong>
  <%= @start_female_hammer_throw.athlete %>
</p>

<p>
  <strong>An:</strong>
  <%= @start_female_hammer_throw.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @start_female_hammer_throw.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @start_female_hammer_throw.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @start_female_hammer_throw.country %>
</p>

<p>
  <strong>Femalehammerthrowstart:</strong>
  <%= @start_female_hammer_throw.femalehammerthrowStart_id %>
</p>

<%= link_to 'Edit', edit_start_female_hammer_throw_path(@start_female_hammer_throw) %> |
<%= link_to 'Back', start_female_hammer_throws_path %>
