
<%= simple_form_for(@female_high_jump) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number %>
    <%= f.input :name %>
    <%= f.input :an %>
    <%= f.input :club %>
    <%= f.input :reg %>
    <%= f.input :country %>
    <%= f.input :first %>
    <%= f.input :vvFirst %>
    <%= f.input :seconnd %>
    <%= f.input :vvSecond %>
    <%= f.input :third %>
    <%= f.input :vvThird %>
    <%= f.input :op %>
    <%= f.input :fourth %>
    <%= f.input :vvFourth %>
    <%= f.input :fift %>
    <%= f.input :vvFifth %>
    <%= f.input :sixth %>
    <%= f.input :vvSixth %>
    <%= f.input :achievement %>
    <%= f.input :place %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
