<p id="notice"><%= notice %></p>

<div class="col-md-12">
    <div class="callout callout-danger">
      <h4><strong>Salto Alto - Damas </strong></h4>
     &#09;<h5>fecha-hora</h5>
     </div>









   <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
       <div class="row">
          <div class="col-xs-12">
       
             
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
    <%= simple_form_for(@female_high_jump) do |f| %>
    <%= f.error_notification %>
                  <tr>
                    <th><%= f.input :name,  placeholder: "Atleta"%></th>
                    <th><%= f.input :club,  placeholder: "Club"%></th>
                    <th><%= f.input :first,  placeholder: "primero"%></th>
                    <th> <%= f.input :vvFirst , placeholder: "vv"%></th>
                    <th><%= f.input :seconnd , placeholder: "segundo"%></th>
                    <th> <%= f.input :vvSecond, placeholder: "vv" %></th>
                    <th><%= f.input :third , placeholder: "tercero"%></th>
                    <th><%= f.input :vvThird , placeholder: "vv"%></th>
                    <th><%= f.input :op , placeholder: "OP"%></th>
                  </tr><tr>
                    <th> <%= f.input :fourth, placeholder: "cuarto"%></th>
                      <th> <%= f.input :vvFourth, placeholder: "vv"%></th>
                        <th> <%= f.input :fift, placeholder: "quinto"%></th>
                          <th> <%= f.input :vvFifth, placeholder: "vv"%></th>
                            <th> <%= f.input :sixth, placeholder: "sexto"%></th>
                              <th> <%= f.input :vvSixth, placeholder: "vv"%></th>
                                <th> <%= f.input :achievement, placeholder: "Marca"%></th>
                                  <th> <%= f.input :place, placeholder: "Lugar"%></th>
                    <th> <%= f.button :submit ,'Guardar',class: "btn btn-success"%></th>
                  </tr>
                  <%end%>
                         </table>
              </div>
              <!-- /.box-body -->
           
            <!-- /.box -->
          </div>
        </div>
  <%end%>
</div>

<%= content_tag :table, role: :datatable, data: { url: female_high_jumps_path(format: :json)} do %>
  <thead>
    <tr>
      <th>Número</th>
      <th>Nombre</th>
      <th>A.N.</th>
      <th>Club</th>
      <th>Región</th>
      <th>País</th>
      <th>Primero</th>
      <th>V.V</th>
      <th>Segundo</th>
      <th>V.V</th>
      <th>Tercero</th>
      <th>V.V</th>
      <th>OP</th>
      <th>Cuarto</th>
      <th>V.V</th>  
      <th>Quinto</th>
      <th>V.V</th>
      <th>Sexto</th>
      <th>V.V</th>
      <th>Marca</th>
      <th>Lugar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
 <tbody onmouseover="bestInPlace();">
  </tbody>
<% end %>

 

 <% if  user_signed_in? && current_user.email=='admin@prossport.cl'%>
 
<script type="application/javascript">
$(document).ready(function() {
jQuery(".best_in_place").best_in_place();
});
function bestInPlace()
{
 jQuery(".best_in_place").best_in_place();
};
 </script>
     <br><br><br><br><br>
<div class="col-md-12">
    <div class="callout callout-success">
      <h4><strong>IMPORTAR</strong></h4>
     </div>
   <%=form_tag import_female_high_jumps_path, multipart: true do%>
<%=file_field_tag :file%>
<%=submit_tag "Importar"%>
 <% end %>
</div>
 <%end%>
 
 