<p id="notice"><%= notice %></p>

<h1>Track Heads</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Gender</th>
      <th>Trackserieid</th>
      <th>Sportid</th>
      <th>Categoryid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @track_heads.each do |track_head| %>
      <tr>
        <td><%= track_head.fecha %></td>
        <td><%= track_head.hora %></td>
        <td><%= track_head.gender %></td>
        <td><%= track_head.trackSerieId %></td>
        <td><%= track_head.sportId %></td>
        <td><%= track_head.categoryId %></td>
        <td><%= link_to 'Show', track_head %></td>
        <td><%= link_to 'Edit', edit_track_head_path(track_head) %></td>
        <td><%= link_to 'Destroy', track_head, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Track Head', new_track_head_path %>
