<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @female_shot_put.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @female_shot_put.name %>
</p>

<p>
  <strong>An:</strong>
  <%= @female_shot_put.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @female_shot_put.club %>
</p>

<p>
  <strong>Region:</strong>
  <%= @female_shot_put.region %>
</p>

<p>
  <strong>First:</strong>
  <%= @female_shot_put.first %>
</p>

<p>
  <strong>Second:</strong>
  <%= @female_shot_put.second %>
</p>

<p>
  <strong>Third:</strong>
  <%= @female_shot_put.third %>
</p>

<p>
  <strong>Fourth:</strong>
  <%= @female_shot_put.fourth %>
</p>

<p>
  <strong>Fifth:</strong>
  <%= @female_shot_put.fifth %>
</p>

<p>
  <strong>Sixth:</strong>
  <%= @female_shot_put.sixth %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @female_shot_put.achievement %>
</p>

<p>
  <strong>Place:</strong>
  <%= @female_shot_put.place %>
</p>

<%= link_to 'Edit', edit_female_shot_put_path(@female_shot_put) %> |
<%= link_to 'Back', female_shot_puts_path %>
