<!DOCTYPE html>
<html>
  <head>
    <title>Plataforma</title>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123577010-1"></script>
<script>
 datatable(iris2, options = list(
  language = list(url = '//cdn.datatables.net/plug-ins/1.10.11/i18n/Spanish.json'),
  pageLength = 5
));
</script>
  
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body class="skin-blue"> 
    <header class="main-header">
 <a href="..\championships" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
       <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img width="124" height="55" src="https://www.fedachi.cl/eb19/wp-content/uploads/2018/11/logo.png" class="header_logo header-logo" alt="FEDACHI"></span>
    </a>

 <nav class="navbar navbar-light" style="background-color: #f39c12;">
  <div class=" navbar-left" >
       </div>
       <div class=" navbar-left" >
       </div>
       <div class=" navbar-left" >
       </div>
       <div class=" navbar-left" >
       </div>
        <div class=" navbar-left" >
       </div>
       <ul class="nav navbar-left">
<li><%= link_to regions_path(), class: "" do %>
         <i class="fa fa-map-marker fa-2x" style="color:white" title="ASOCIACIONES REGIONALES"></i> </a></li>
         <% end %>
         <%= link_to clubs_path(), class: "" do %>
        <li> <i class="fa fa-shield fa-2x" style="color:white" title="CLUBES"></i> </a></li>
         <% end %>      
       
  <% if user_signed_in? %>


<li><%= link_to "#", class: "" do %>
         <i class="fa fa-user-circle fa-2x" style="color:white" title=<%=current_user.email%> ></i> </a></li>
         <% end %>

<li><%= link_to destroy_user_session_path, method: :delete, class: "" do %>
         <i class="fa fa-power-off fa-2x" style="color:white" title="SALIR"></i> </a></li>
         <% end %>

<% else %>


 <li><%= link_to "Login", new_user_session_path %></li>
 </ul>
<% end %>
</nav>
</header>

  <div class="content">

<%= yield%>

    <!-- /.content -->
    <br/>
     <br/>
 <footer id="footer" class="footer-wrapper">

    <section class="section" id="section_973292651">
    <div class="bg section-bg fill bg-fill  bg-loaded">

      
      
      

    </div><!-- .section-bg -->

    <div class="section-content relative">
      

<div class="row" id="row-675745148">

<div class="col md-12"><div class="col-inner">



</div></div>

</div>

    </div><!-- .section-content -->


  </section>
  
<div class="absolute-footer light medium-text-center text-center">
  <div class="container clearfix">

    
    <div class="footer-primary pull-left">
            <div class="copyright-footer">
              <br/>
              <b><span style="font-family: Oswald, sans-serif;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Federación Atlética de Chile &nbsp; <img alt="" height="39" src="/images/simbolos/home.png" width="40"> Santo Toribio 660 - Ñuñoa - Santiago - CHILE&nbsp;&nbsp;&nbsp;&nbsp; <img alt="" height="38" src="/images/simbolos/telefono.png" width="40"> (56-2) 2635 0334 &nbsp; <img alt="" height="38" src="/images/simbolos/correo.png" width="40"> fedachi@fedachi.cl</span></b>
              </div>
          </div><!-- .left -->
  </div><!-- .container -->
</div><!-- .absolute-footer -->

</footer>

  </div>



 
  </body>

</html>
