<!DOCTYPE html>
<html>
  <head>
    <title>Plataforma</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123577010-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123577010-1');
</script>
  
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body class="skin-blue"> 
    <header class="main-header">
 <nav class="navbar navbar-light" style="background-color: #3c8dbc;">
  <div class=" navbar-left" >
       </div>
       <div class=" navbar-left" >
       </div>
       <div class=" navbar-left" >
       </div>
       <div class=" navbar-left" >
       </div>
        <div class=" navbar-left" >
       </div>
  <% if user_signed_in? %>
  <ul class="nav navbar-nav">
 <li><%= link_to current_user.email, "athletes#index" %></li>
</ul>
<ul class="nav navbar-nav">
<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
<% else %>
</ul>

<ul class="nav navbar-nav">
 <li><%= link_to "Login", new_user_session_path %></li>
 </ul>
<% end %>
</nav>
</header>

  <div class="content">

<%= yield%>

    <!-- /.content -->
  </div>
 
  </body>
</html>
