<p id="notice"><%= notice %></p>

<h1>Male Shot Put Heads</h1>

<table>
  <thead>
    <tr>
      <th>Championship</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @male_shot_put_heads.each do |male_shot_put_head| %>
      <tr>
        <td><%= male_shot_put_head.championship_id %></td>
        <td><%= male_shot_put_head.fecha %></td>
        <td><%= male_shot_put_head.hora %></td>
        <td><%= link_to 'Show', male_shot_put_head %></td>
        <td><%= link_to 'Edit', edit_male_shot_put_head_path(male_shot_put_head) %></td>
        <td><%= link_to 'Destroy', male_shot_put_head, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Male Shot Put Head', new_male_shot_put_head_path %>
