
<%= simple_form_for(@start_head) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fecha %>
    <%= f.input :hora %>
    <%= f.association :sex %>
    <%= f.association :competition %>
    <%= f.association :sport %>
    <%= f.association :category %>
    <%= f.input :serie %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
