<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @male_long_jump.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @male_long_jump.name %>
</p>

<p>
  <strong>An:</strong>
  <%= @male_long_jump.an %>
</p>

<p>
  <strong>Club:</strong>
  <%= @male_long_jump.club %>
</p>

<p>
  <strong>Reg:</strong>
  <%= @male_long_jump.reg %>
</p>

<p>
  <strong>Country:</strong>
  <%= @male_long_jump.country %>
</p>

<p>
  <strong>First:</strong>
  <%= @male_long_jump.first %>
</p>

<p>
  <strong>Vvfirst:</strong>
  <%= @male_long_jump.vvFirst %>
</p>

<p>
  <strong>Seconnd:</strong>
  <%= @male_long_jump.seconnd %>
</p>

<p>
  <strong>Vvsecond:</strong>
  <%= @male_long_jump.vvSecond %>
</p>

<p>
  <strong>Third:</strong>
  <%= @male_long_jump.third %>
</p>

<p>
  <strong>Vvthird:</strong>
  <%= @male_long_jump.vvThird %>
</p>

<p>
  <strong>Op:</strong>
  <%= @male_long_jump.op %>
</p>

<p>
  <strong>Fourth:</strong>
  <%= @male_long_jump.fourth %>
</p>

<p>
  <strong>Vvfourth:</strong>
  <%= @male_long_jump.vvFourth %>
</p>

<p>
  <strong>Fift:</strong>
  <%= @male_long_jump.fift %>
</p>

<p>
  <strong>Vvfifth:</strong>
  <%= @male_long_jump.vvFifth %>
</p>

<p>
  <strong>Sixth:</strong>
  <%= @male_long_jump.sixth %>
</p>

<p>
  <strong>Vvsixth:</strong>
  <%= @male_long_jump.vvSixth %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @male_long_jump.achievement %>
</p>

<p>
  <strong>Place:</strong>
  <%= @male_long_jump.place %>
</p>

<%= link_to 'Edit', edit_male_long_jump_path(@male_long_jump) %> |
<%= link_to 'Back', male_long_jumps_path %>
